USE [master]
GO
/****** Object:  Database [RHCQS]    Script Date: 10/26/2024 11:33:52 PM ******/
CREATE DATABASE [RHCQS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RHCQS', FILENAME = N'/var/opt/mssql/data/RHCQS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RHCQS_log', FILENAME = N'/var/opt/mssql/data/RHCQS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RHCQS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RHCQS]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](60) NULL,
	[PhoneNumber] [nchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Deflag] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignTask]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignTask](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[ProjectId] [uniqueidentifier] NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_AssignTask] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BatchPayment]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatchPayment](
	[Id] [uniqueidentifier] NOT NULL,
	[ContractId] [uniqueidentifier] NULL,
	[IntitialQuotationId] [uniqueidentifier] NOT NULL,
	[InsDate] [datetime] NULL,
	[FinalQuotationId] [uniqueidentifier] NULL,
	[PaymentId] [uniqueidentifier] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_InstallmentPayment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[Heading] [nvarchar](max) NULL,
	[SubHeading] [nvarchar](max) NULL,
	[Context] [nvarchar](max) NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConstructionItems]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConstructionItems](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Coefficient] [float] NULL,
	[Unit] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Type] [nvarchar](50) NULL,
	[IsFinalQuotation] [bit] NULL,
 CONSTRAINT [PK_ConstructionItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[Id] [uniqueidentifier] NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[CustomerName] [nvarchar](50) NULL,
	[ContractCode] [nchar](10) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ValidityPeriod] [int] NULL,
	[TaxCode] [nvarchar](20) NULL,
	[Area] [float] NULL,
	[UnitPrice] [nvarchar](50) NULL,
	[ContractValue] [float] NULL,
	[UrlFile] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Deflag] [bit] NULL,
	[RoughPackagePrice] [float] NULL,
	[FinishedPackagePrice] [float] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Contract] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[PhoneNumber] [nchar](11) NULL,
	[DateOfBirth] [datetime] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Deflag] [bit] NULL,
	[AccountId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DesignTemplate]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignTemplate](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[NumberOfFloor] [int] NULL,
	[NumberOfBed] [int] NULL,
	[NumberOfFront] [int] NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_DesignTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentItem]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentItem](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Unit] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[UnitOfMaterial] [float] NULL,
	[TotalOfMaterial] [float] NULL,
	[Note] [nchar](10) NULL,
	[FinalQuotationId] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](100) NULL,
 CONSTRAINT [PK_EquimentItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinalQuotation]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinalQuotation](
	[Id] [uniqueidentifier] NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
	[PromotionId] [uniqueidentifier] NULL,
	[TotalPrice] [float] NULL,
	[Note] [nvarchar](max) NULL,
	[Version] [float] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Deflag] [bit] NULL,
	[ReasonReject] [nvarchar](max) NULL,
 CONSTRAINT [PK_OfficialQuotation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinalQuotationItem]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinalQuotationItem](
	[Id] [uniqueidentifier] NOT NULL,
	[FinalQuotationId] [uniqueidentifier] NOT NULL,
	[InsDate] [datetime] NULL,
	[ConstructionItemId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DetailedQuotationItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseDesignDrawing]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseDesignDrawing](
	[Id] [uniqueidentifier] NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Step] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[IsCompany] [bit] NULL,
	[InsDate] [datetime] NULL,
	[AccountId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_HouseDesignDrawing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseDesignVersion]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseDesignVersion](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Version] [float] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[InsDate] [datetime] NULL,
	[HouseDesignDrawingId] [uniqueidentifier] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[UpsDate] [datetime] NULL,
	[RelatedDrawingId] [uniqueidentifier] NULL,
	[PreviousDrawingId] [uniqueidentifier] NULL,
	[Reason] [nvarchar](max) NULL,
	[Deflag] [bit] NOT NULL,
 CONSTRAINT [PK_HouseDesignVersion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InitialQuotation]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InitialQuotation](
	[Id] [uniqueidentifier] NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
	[PromotionId] [uniqueidentifier] NULL,
	[Area] [float] NULL,
	[TimeProcessing] [int] NULL,
	[TimeRough] [int] NULL,
	[TimeOthers] [int] NULL,
	[OthersAgreement] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Version] [float] NOT NULL,
	[IsTemplate] [bit] NULL,
	[Deflag] [bit] NULL,
	[Note] [nvarchar](max) NULL,
	[TotalRough] [float] NULL,
	[TotalUtilities] [float] NULL,
	[Unit] [nvarchar](5) NULL,
	[ReasonReject] [nvarchar](max) NULL,
 CONSTRAINT [PK_PreliminaryQuotation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InitialQuotationItem]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InitialQuotationItem](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ConstructionItemId] [uniqueidentifier] NOT NULL,
	[SubConstructionId] [uniqueidentifier] NULL,
	[Area] [float] NULL,
	[Price] [float] NULL,
	[UnitPrice] [nvarchar](10) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[InitialQuotationId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_InitialQuotationItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Labor]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Labor](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [float] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Deflag] [bit] NULL,
	[Type] [varchar](50) NULL,
 CONSTRAINT [PK_Labor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [uniqueidentifier] NOT NULL,
	[SupplierId] [uniqueidentifier] NOT NULL,
	[MaterialTypeId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [float] NULL,
	[Unit] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[Shape] [nvarchar](50) NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[UnitPrice] [nvarchar](50) NULL,
	[IsAvailable] [bit] NULL,
	[MaterialSectionId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialSection]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialSection](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_MaterialSection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Deflag] [bit] NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[Id] [uniqueidentifier] NOT NULL,
	[HouseDesignVersionId] [uniqueidentifier] NULL,
	[Name] [nvarchar](100) NULL,
	[Url] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[SubTemplateId] [uniqueidentifier] NULL,
	[PaymentId] [uniqueidentifier] NULL,
	[DesignTemplateId] [uniqueidentifier] NULL,
	[InitialQuotationId] [uniqueidentifier] NULL,
	[FinalQuotationId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Media] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[Id] [uniqueidentifier] NOT NULL,
	[Sender] [nvarchar](50) NULL,
	[Reciver] [nvarchar](50) NULL,
	[Context] [nvarchar](max) NULL,
	[Time] [datetime] NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[Id] [uniqueidentifier] NOT NULL,
	[PackageTypeId] [uniqueidentifier] NOT NULL,
	[PackageName] [nvarchar](100) NULL,
	[Unit] [nvarchar](20) NULL,
	[Price] [float] NULL,
	[Status] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
 CONSTRAINT [PK_Package] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageDetail]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
	[Action] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_PackageDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageHouse]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageHouse](
	[Id] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
	[DesignTemplateId] [uniqueidentifier] NOT NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_PackageHouse] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageLabor]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageLabor](
	[Id] [uniqueidentifier] NOT NULL,
	[PackageDetailId] [uniqueidentifier] NOT NULL,
	[LaborId] [uniqueidentifier] NOT NULL,
	[Price] [float] NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_PackageLabor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageMapPromotion]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageMapPromotion](
	[Id] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
	[PromotionId] [uniqueidentifier] NOT NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_PackageMapPromotion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageMaterial]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageMaterial](
	[Id] [uniqueidentifier] NOT NULL,
	[MaterialSectionId] [uniqueidentifier] NOT NULL,
	[PackageDetailId] [uniqueidentifier] NOT NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_PackageMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageQuotation]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageQuotation](
	[Id] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
	[InitialQuotationId] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_PackageQuotation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageType]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_PackageType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Id] [uniqueidentifier] NOT NULL,
	[PaymentTypeId] [uniqueidentifier] NOT NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[TotalPrice] [float] NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentPhase] [datetime] NULL,
	[Unit] [nvarchar](10) NULL,
	[Percents] [nvarchar](5) NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[ProjectCode] [nchar](5) NULL,
	[Address] [nvarchar](max) NULL,
	[Area] [float] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nchar](10) NULL,
	[Value] [int] NULL,
	[InsDate] [datetime] NULL,
	[StartTime] [datetime] NULL,
	[Name] [nvarchar](200) NULL,
	[ExpTime] [datetime] NULL,
	[IsRunning] [bit] NULL,
	[Unit] [nvarchar](10) NULL,
 CONSTRAINT [PK_Promotion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationItem]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationItem](
	[Id] [uniqueidentifier] NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[Weight] [float] NULL,
	[UnitPriceLabor] [float] NULL,
	[UnitPriceRough] [float] NULL,
	[UnitPriceFinished] [float] NULL,
	[TotalPriceLabor] [float] NULL,
	[TotalPriceRough] [float] NULL,
	[TotalPriceFinished] [float] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[FinalQuotationItemId] [uniqueidentifier] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_QuotationItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationLabor]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationLabor](
	[Id] [uniqueidentifier] NOT NULL,
	[QuotationItemId] [uniqueidentifier] NOT NULL,
	[LaborId] [uniqueidentifier] NOT NULL,
	[LaborPrice] [float] NULL,
 CONSTRAINT [PK_QuotationLabor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationMaterial]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationMaterial](
	[Id] [uniqueidentifier] NOT NULL,
	[QuotationItemId] [uniqueidentifier] NOT NULL,
	[MaterialId] [uniqueidentifier] NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[MaterialPrice] [float] NULL,
 CONSTRAINT [PK_QuotationMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationUtilities]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationUtilities](
	[Id] [uniqueidentifier] NOT NULL,
	[UtilitiesItemId] [uniqueidentifier] NULL,
	[FinalQuotationId] [uniqueidentifier] NULL,
	[InitialQuotationId] [uniqueidentifier] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Coefiicient] [float] NULL,
	[Price] [float] NULL,
	[Description] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[UtilitiesSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UltilitiesDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubConstructionItems]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubConstructionItems](
	[Id] [uniqueidentifier] NOT NULL,
	[ConstructionItemsId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Coefficient] [float] NULL,
	[Unit] [nchar](10) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_RoughCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubTemplate]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubTemplate](
	[Id] [uniqueidentifier] NOT NULL,
	[DesignTemplateId] [uniqueidentifier] NOT NULL,
	[BuildingArea] [float] NULL,
	[FloorArea] [float] NULL,
	[InsDate] [datetime] NULL,
	[Size] [nchar](9) NULL,
	[ImgUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_SubTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[ConstractPhone] [nvarchar](11) NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Deflag] [bit] NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemplateItem]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateItem](
	[Id] [uniqueidentifier] NOT NULL,
	[SubTemplateId] [uniqueidentifier] NOT NULL,
	[ConstructionItemId] [uniqueidentifier] NOT NULL,
	[Area] [float] NULL,
	[Unit] [nvarchar](20) NULL,
	[InsDate] [datetime] NULL,
	[SubConstructionId] [uniqueidentifier] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_TemplateItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UtilitiesItem]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtilitiesItem](
	[Id] [uniqueidentifier] NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Coefficient] [float] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Deflag] [bit] NULL,
 CONSTRAINT [PK_UltilitiesItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UtilitiesSection]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtilitiesSection](
	[Id] [uniqueidentifier] NOT NULL,
	[UtilitiesId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Deflag] [bit] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[UnitPrice] [float] NULL,
	[Unit] [nvarchar](100) NULL,
 CONSTRAINT [PK_UltilitiesSection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UtilityOption]    Script Date: 10/26/2024 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtilityOption](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Deflag] [bit] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
 CONSTRAINT [PK_Ultilities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Id], [RoleId], [Email], [Username], [ImageUrl], [PasswordHash], [PhoneNumber], [DateOfBirth], [InsDate], [UpsDate], [Deflag]) VALUES (N'782e4916-ddd5-4f6d-a03f-1d599930fff4', N'9959ce96-de26-40a7-b8a7-28a704062e89', N'sales2rhcqs@gmail.com', N'Sales ', NULL, N'$2a$12$M2caIrBBbc9ezeCTg03MrOtVoqjfiG/RESa5Iznl0awUIqM5WGnGW', N'0294529302', NULL, NULL, NULL, 1)
INSERT [dbo].[Account] ([Id], [RoleId], [Email], [Username], [ImageUrl], [PasswordHash], [PhoneNumber], [DateOfBirth], [InsDate], [UpsDate], [Deflag]) VALUES (N'ff17689a-46f8-42c9-8ad8-26ec34941047', N'9959ce96-de26-40a7-b8a7-28a704062e89', N'sales3rhcqs@gmail.com', N'Sales', N'https://hoanghamobile.com/tin-tuc/wp-content/uploads/2024/04/anh-meo-ngau-41.jpg', N'$2a$12$IeUUp.auEEy2gX4elWxtqOytSmY3kXWapW8WJuWjkgpFEN0lO6dPm', N'0943577123', CAST(N'2002-01-02' AS Date), NULL, CAST(N'2024-10-11T14:21:38.353' AS DateTime), 1)
INSERT [dbo].[Account] ([Id], [RoleId], [Email], [Username], [ImageUrl], [PasswordHash], [PhoneNumber], [DateOfBirth], [InsDate], [UpsDate], [Deflag]) VALUES (N'990773a2-1817-47f5-9116-301e97435c44', N'7af0d75e-1157-48b4-899d-3196deed5fad', N'design2rhcqs@gmail.com', N'Huy', N'https://cellphones.com.vn/sforum/wp-content/uploads/2024/02/avatar-anh-meo-cute-5.jpg', N'$2a$12$M2caIrBBbc9ezeCTg03MrOtVoqjfiG/RESa5Iznl0awUIqM5WGnGW', N'0902579391', CAST(N'2002-01-01' AS Date), CAST(N'2024-09-26T14:30:00.000' AS DateTime), CAST(N'2024-10-08T18:46:43.580' AS DateTime), 1)
GO
INSERT [dbo].[AssignTask] ([Id], [AccountId], [ProjectId], [InsDate]) VALUES (N'9f333306-1340-48ef-a58d-17931176991b', N'd63a2a80-cdea-46df-8419-e5c70a7632ee', N'fa91e187-b0c8-46c3-b6d5-747d32bd3540', CAST(N'2024-10-16T04:28:00.223' AS DateTime))
INSERT [dbo].[AssignTask] ([Id], [AccountId], [ProjectId], [InsDate]) VALUES (N'682c367e-30aa-479d-a8a8-1ee5bcdb9412', N'd63a2a80-cdea-46df-8419-e5c70a7632ea', N'473a3d0b-2793-4565-8ea1-7889e468f45e', CAST(N'2024-10-23T06:19:40.240' AS DateTime))
INSERT [dbo].[AssignTask] ([Id], [AccountId], [ProjectId], [InsDate]) VALUES (N'043a5a85-558b-4006-94a9-43da1e311b66', N'782e4916-ddd5-4f6d-a03f-1d599930fff4', N'7bfb8020-fffb-4557-80f5-63737330b3cd', CAST(N'2024-09-26T14:30:00.000' AS DateTime))
GO
INSERT [dbo].[BatchPayment] ([Id], [ContractId], [IntitialQuotationId], [InsDate], [FinalQuotationId], [PaymentId], [Status]) VALUES (N'7a815aa4-ea93-4ca5-af38-01c875fb42d7', NULL, N'a6521b8d-ab06-4c72-94f2-a31c932f05da', CAST(N'2024-10-20T17:09:31.957' AS DateTime), NULL, N'63319810-b64f-41d9-9bc4-ee7c24db6bff', N'Progress')
INSERT [dbo].[BatchPayment] ([Id], [ContractId], [IntitialQuotationId], [InsDate], [FinalQuotationId], [PaymentId], [Status]) VALUES (N'3c41a8c8-262c-4993-8c10-02dba032c3ba', NULL, N'81069856-2557-47b7-987b-a1a78a06ee1b', CAST(N'2024-10-20T10:53:12.620' AS DateTime), NULL, N'ba74dab2-feb8-40aa-b2be-96faedd39ef9', N'Progress')
INSERT [dbo].[BatchPayment] ([Id], [ContractId], [IntitialQuotationId], [InsDate], [FinalQuotationId], [PaymentId], [Status]) VALUES (N'522a92d5-e9a4-4de7-aa32-02fcab5c0aef', NULL, N'b8867ac2-39b5-479c-b832-97acf29369c2', CAST(N'2024-10-22T14:40:36.900' AS DateTime), NULL, N'86d38f42-83fd-449c-929a-66771f05e9fa', N'Progress')
GO
INSERT [dbo].[ConstructionItems] ([Id], [Name], [Coefficient], [Unit], [InsDate], [UpsDate], [Type], [IsFinalQuotation]) VALUES (N'15b85094-21a2-46e7-95aa-0fba6890ae36', N'Thông Tầng lầu 4', 0, N'm2', CAST(N'2024-09-27T15:35:37.630' AS DateTime), CAST(N'2024-09-27T15:35:37.630' AS DateTime), N'ROUGH', 0)
INSERT [dbo].[ConstructionItems] ([Id], [Name], [Coefficient], [Unit], [InsDate], [UpsDate], [Type], [IsFinalQuotation]) VALUES (N'40aa0395-a4ef-423c-91f2-11d2889dc306', N'Thông Tầng lầu 1', 0, N'm2', CAST(N'2024-09-27T15:34:23.203' AS DateTime), CAST(N'2024-09-27T15:34:23.203' AS DateTime), N'ROUGH', 0)
INSERT [dbo].[ConstructionItems] ([Id], [Name], [Coefficient], [Unit], [InsDate], [UpsDate], [Type], [IsFinalQuotation]) VALUES (N'75922602-9153-4cc3-a7dc-225c9bc30a5e', N'Móng', 0, N'm2', CAST(N'2024-09-27T21:37:09.000' AS DateTime), CAST(N'2024-09-27T21:37:09.000' AS DateTime), N'ROUGH', 0)
GO
INSERT [dbo].[Contract] ([Id], [ProjectId], [Name], [CustomerName], [ContractCode], [StartDate], [EndDate], [ValidityPeriod], [TaxCode], [Area], [UnitPrice], [ContractValue], [UrlFile], [Note], [Deflag], [RoughPackagePrice], [FinishedPackagePrice], [Status], [Type]) VALUES (N'baba5e5b-9c95-446d-bb5b-00690c17e08b', N'ee84cd56-fa04-4b89-b04c-e3a6c29f57e9', N'Hợp đồng tư vấn và thiết kế bản vẽ nhà ở dân dụng', N'Test 1', NULL, NULL, NULL, NULL, NULL, 115.7, N'VNĐ', NULL, NULL, NULL, 1, 0, 0, N'Processing', N'Design')
INSERT [dbo].[Contract] ([Id], [ProjectId], [Name], [CustomerName], [ContractCode], [StartDate], [EndDate], [ValidityPeriod], [TaxCode], [Area], [UnitPrice], [ContractValue], [UrlFile], [Note], [Deflag], [RoughPackagePrice], [FinishedPackagePrice], [Status], [Type]) VALUES (N'9a5dbfe9-b03e-4d3e-8a82-558d4aacc68c', N'5f3de5a5-594d-4529-a836-7891a3d85266', N'Hợp đồng tư vấn và thiết kế bản vẽ nhà ở dân dụng', N'Test 1', NULL, NULL, NULL, NULL, NULL, 115.7, N'VNĐ', NULL, NULL, NULL, 1, 0, 0, N'Processing', N'Design')
GO
INSERT [dbo].[Customer] ([Id], [Email], [Username], [ImgUrl], [PhoneNumber], [DateOfBirth], [InsDate], [UpsDate], [Deflag], [AccountId]) VALUES (N'2fcb2c45-4dcc-4f3a-8fe4-1d2ee48fa931', N'ngandolh@gmail.com', N'Đồ', N'https://chungkhoantaichinh.vn/wp-content/uploads/2022/12/avatar-meo-cute-de-thuong-05.jpg', N'0901342922 ', CAST(N'2002-01-01T00:00:00.000' AS DateTime), CAST(N'2024-09-26T14:30:00.000' AS DateTime), CAST(N'2024-09-26T14:30:00.000' AS DateTime), 1, N'7e9055c4-fa2e-45b4-b3e8-580870184283')
INSERT [dbo].[Customer] ([Id], [Email], [Username], [ImgUrl], [PhoneNumber], [DateOfBirth], [InsDate], [UpsDate], [Deflag], [AccountId]) VALUES (N'560b07bc-6d1e-41e7-988b-275b43f14b9e', N'mrtuan1456@', N'mrtuan1456@', N'https://hoanghamobile.com/tin-tuc/wp-content/uploads/2024/04/anh-meo-ngau-1.jpg', NULL, NULL, CAST(N'2024-10-02T16:32:18.907' AS DateTime), CAST(N'2024-10-02T16:32:18.907' AS DateTime), 1, N'b8c040b3-09a3-4975-a962-7440175b15aa')
INSERT [dbo].[Customer] ([Id], [Email], [Username], [ImgUrl], [PhoneNumber], [DateOfBirth], [InsDate], [UpsDate], [Deflag], [AccountId]) VALUES (N'053dbce4-d0a7-4c12-a733-4f7715383ef0', N'testDangKi', N'testDangKi', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTacA-IBHeRlTou6YG_FmfLGAKcsol22P_7Q&s', N'0906993705 ', NULL, CAST(N'2024-10-02T16:28:07.200' AS DateTime), CAST(N'2024-10-02T16:28:07.200' AS DateTime), 1, N'8caeb11a-1599-40c9-bdfc-a184acd7700d')
GO
INSERT [dbo].[DesignTemplate] ([Id], [Name], [Description], [NumberOfFloor], [NumberOfBed], [NumberOfFront], [ImgUrl], [InsDate]) VALUES (N'7af799a9-02fa-4cd0-b954-86b102840e60', N'Mẫu 1', N'Mẫu nhà ở nông thôn', 1, 2, NULL, N'https://res.cloudinary.com/de7pulfdj/image/upload/v1729060083/kihpiscatjatvzjkaowi.png', NULL)
INSERT [dbo].[DesignTemplate] ([Id], [Name], [Description], [NumberOfFloor], [NumberOfBed], [NumberOfFront], [ImgUrl], [InsDate]) VALUES (N'335252c2-f710-430f-ab14-a1412ee29237', N'Mẫu 3', N'Mẫu 3', 1, 2, NULL, N'https://res.cloudinary.com/de7pulfdj/image/upload/v1729615054/ej3awfiihb5bezn4v6if.png', NULL)
INSERT [dbo].[DesignTemplate] ([Id], [Name], [Description], [NumberOfFloor], [NumberOfBed], [NumberOfFront], [ImgUrl], [InsDate]) VALUES (N'1e611fdb-ec3f-4927-a307-b9d3c3b36d63', N'Mẫu 4', N'Nhà 2 tầng', 1, 2, NULL, N'https://res.cloudinary.com/de7pulfdj/image/upload/v1729700303/axd3cvvyhzqhhs4mue9i.png', NULL)
GO
INSERT [dbo].[EquipmentItem] ([Id], [Name], [Unit], [Quantity], [UnitOfMaterial], [TotalOfMaterial], [Note], [FinalQuotationId], [Type]) VALUES (N'5c242154-d4c2-43c5-9d0e-0a3d4105187f', N'Lavabo màu trắng âm bàn, MS: L5125

', N'Bộ', 6, 1111000, 6666000, NULL, N'3bc03044-e974-4f03-921a-cf07bc00eec3', N'SANITATION')
INSERT [dbo].[EquipmentItem] ([Id], [Name], [Unit], [Quantity], [UnitOfMaterial], [TotalOfMaterial], [Note], [FinalQuotationId], [Type]) VALUES (N'04d5da1a-dece-40a3-9e5d-1158337363f1', N'Đèn ốp trần nổi', N'Bộ', 3, 407000, 1221000, NULL, N'3bc03044-e974-4f03-921a-cf07bc00eec3', N'ELECTRIC')
INSERT [dbo].[EquipmentItem] ([Id], [Name], [Unit], [Quantity], [UnitOfMaterial], [TotalOfMaterial], [Note], [FinalQuotationId], [Type]) VALUES (N'e4c9fe57-ece7-4fcd-8d99-1c8cabd8e0e9', N'Ổ cắm điện 3 lỗ Panasonic', N'Cái', 10, 120000, 120000, NULL, N'04cb9c6f-cf0c-4fa7-9565-4c3b4166c6f9', N'ELECTRIC')
GO
INSERT [dbo].[FinalQuotation] ([Id], [ProjectId], [PromotionId], [TotalPrice], [Note], [Version], [InsDate], [UpsDate], [Status], [Deflag], [ReasonReject]) VALUES (N'04cb9c6f-cf0c-4fa7-9565-4c3b4166c6f9', N'fa91e187-b0c8-46c3-b6d5-747d32bd3540', NULL, 1123500000, NULL, 1, CAST(N'2024-09-29T10:00:00.000' AS DateTime), CAST(N'2024-09-29T10:00:00.000' AS DateTime), N'Finalized', 1, NULL)
INSERT [dbo].[FinalQuotation] ([Id], [ProjectId], [PromotionId], [TotalPrice], [Note], [Version], [InsDate], [UpsDate], [Status], [Deflag], [ReasonReject]) VALUES (N'3bc03044-e974-4f03-921a-cf07bc00eec3', N'b81935a8-4482-43f5-ad68-558abde58d58', NULL, 292261500, NULL, 1, CAST(N'2024-09-29T10:00:00.000' AS DateTime), CAST(N'2024-09-29T10:00:00.000' AS DateTime), N'Approved', 1, NULL)
GO
INSERT [dbo].[FinalQuotationItem] ([Id], [FinalQuotationId], [InsDate], [ConstructionItemId]) VALUES (N'b3039413-c1ba-4bf3-89b3-0122c1e085f5', N'04cb9c6f-cf0c-4fa7-9565-4c3b4166c6f9', NULL, N'9e66372d-ff80-44b1-87a9-7b6073efb8e4')
INSERT [dbo].[FinalQuotationItem] ([Id], [FinalQuotationId], [InsDate], [ConstructionItemId]) VALUES (N'd160e67a-eff5-45e8-aa0c-01a6854454ba', N'3bc03044-e974-4f03-921a-cf07bc00eec3', NULL, N'759169a4-9c29-4c6d-96ed-d8b570b42533')
INSERT [dbo].[FinalQuotationItem] ([Id], [FinalQuotationId], [InsDate], [ConstructionItemId]) VALUES (N'b3cddf99-026f-4f99-a411-10c34343c827', N'3bc03044-e974-4f03-921a-cf07bc00eec3', NULL, N'7c8b7d60-a4fb-4cf0-b509-bf9f34f2b158')
GO
INSERT [dbo].[HouseDesignDrawing] ([Id], [ProjectId], [Name], [Step], [Status], [Type], [IsCompany], [InsDate], [AccountId]) VALUES (N'4135dfce-55e0-4370-b453-2d438e96dbbb', N'fa91e187-b0c8-46c3-b6d5-747d32bd3540', N'Phối cảnh', 1, N'Updating', N'PHOICANH', 0, CAST(N'2024-09-30T12:34:56.000' AS DateTime), N'bf339e88-5303-45c4-a6f4-33a79681766c')
INSERT [dbo].[HouseDesignDrawing] ([Id], [ProjectId], [Name], [Step], [Status], [Type], [IsCompany], [InsDate], [AccountId]) VALUES (N'b1f28347-bf77-47ad-9f13-3a7658d11e0a', N'b81935a8-4482-43f5-ad68-558abde58d58', N'Kiến trúc', 2, N'Processing', N'KIENTRUC', 0, CAST(N'2024-10-07T20:02:00.660' AS DateTime), N'990773a2-1817-47f5-9116-301e97435c44')
INSERT [dbo].[HouseDesignDrawing] ([Id], [ProjectId], [Name], [Step], [Status], [Type], [IsCompany], [InsDate], [AccountId]) VALUES (N'cc2c232f-f928-45c4-a76a-665d870c7eb3', N'b81935a8-4482-43f5-ad68-558abde58d58', N'Phối cảnh', 1, N'Processing', N'PHOICANH', 0, CAST(N'2024-10-07T20:02:00.563' AS DateTime), N'bf339e88-5303-45c4-a6f4-33a79681766c')
GO
INSERT [dbo].[HouseDesignVersion] ([Id], [Name], [Version], [Status], [InsDate], [HouseDesignDrawingId], [Note], [UpsDate], [RelatedDrawingId], [PreviousDrawingId], [Reason], [Deflag]) VALUES (N'3905068b-8e24-4fc1-8663-a6697903de08', N'Phối cảnh', 1, N'Finished', CAST(N'2024-09-30T12:34:56.000' AS DateTime), N'4135dfce-55e0-4370-b453-2d438e96dbbb', N'Sửa cửa chính và cửa phụ 2', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[HouseDesignVersion] ([Id], [Name], [Version], [Status], [InsDate], [HouseDesignDrawingId], [Note], [UpsDate], [RelatedDrawingId], [PreviousDrawingId], [Reason], [Deflag]) VALUES (N'97ee6354-4a61-4569-bbde-e5818c49f3e9', N'Phối cảnh', 1, N'Proccesing', CAST(N'2024-10-14T10:45:23.357' AS DateTime), N'cc2c232f-f928-45c4-a76a-665d870c7eb3', N'', CAST(N'2024-10-14T10:45:23.357' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[HouseDesignVersion] ([Id], [Name], [Version], [Status], [InsDate], [HouseDesignDrawingId], [Note], [UpsDate], [RelatedDrawingId], [PreviousDrawingId], [Reason], [Deflag]) VALUES (N'2e7a32d9-5ffb-4cca-b866-f03f67da256d', N'Phối cảnh', 2, N'Rejected', CAST(N'2024-09-30T12:34:56.000' AS DateTime), N'4135dfce-55e0-4370-b453-2d438e96dbbb', N'Màu cửa sổ lầu 1 đổi thành màu xám đậm', CAST(N'2024-10-14T00:18:20.747' AS DateTime), NULL, NULL, N'Sửa cửa sổ + cửa chính', 1)
GO
INSERT [dbo].[InitialQuotation] ([Id], [ProjectId], [PromotionId], [Area], [TimeProcessing], [TimeRough], [TimeOthers], [OthersAgreement], [InsDate], [Status], [Version], [IsTemplate], [Deflag], [Note], [TotalRough], [TotalUtilities], [Unit], [ReasonReject]) VALUES (N'bd31c4e5-e549-42ea-aec7-0f08446f089d', N'b81935a8-4482-43f5-ad68-558abde58d58', NULL, 125, NULL, NULL, NULL, NULL, CAST(N'2024-10-04T12:40:31.853' AS DateTime), N'Rejected', 1, 0, 1, NULL, 1500000000, 20000000, N'VNĐ', N'Sửa phần tiện ích')
INSERT [dbo].[InitialQuotation] ([Id], [ProjectId], [PromotionId], [Area], [TimeProcessing], [TimeRough], [TimeOthers], [OthersAgreement], [InsDate], [Status], [Version], [IsTemplate], [Deflag], [Note], [TotalRough], [TotalUtilities], [Unit], [ReasonReject]) VALUES (N'fe57a7bf-bacd-48f7-9f5f-11a1a73d4baf', N'b81935a8-4482-43f5-ad68-558abde58d58', NULL, 125, 165, 0, 50, N'Khách hàng phải thanh toán trong vòng 7 ngày kể từ khi hợp động được kí', CAST(N'2024-10-20T17:11:05.853' AS DateTime), N'Finalized', 5, 0, 1, NULL, 0, 0, N'VNĐ', NULL)
INSERT [dbo].[InitialQuotation] ([Id], [ProjectId], [PromotionId], [Area], [TimeProcessing], [TimeRough], [TimeOthers], [OthersAgreement], [InsDate], [Status], [Version], [IsTemplate], [Deflag], [Note], [TotalRough], [TotalUtilities], [Unit], [ReasonReject]) VALUES (N'6581284b-329c-4d50-9aea-1562928226fa', N'dcb7524d-d3bd-4bad-9b1c-aa1b5e4e77ab', NULL, 115.7, NULL, NULL, NULL, NULL, CAST(N'2024-10-23T05:32:42.433' AS DateTime), N'Pending', 0, 0, 0, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[InitialQuotationItem] ([Id], [Name], [ConstructionItemId], [SubConstructionId], [Area], [Price], [UnitPrice], [InsDate], [UpsDate], [InitialQuotationId]) VALUES (N'2555d2c7-f97c-4080-855d-023a0969f5c6', N'', N'75922602-9153-4cc3-a7dc-225c9bc30a5e', N'75922602-9153-4cc3-a7dc-225c9bc30a5e', 123, NULL, N'đ', CAST(N'2024-10-21T17:47:57.527' AS DateTime), CAST(N'2024-10-21T17:47:57.527' AS DateTime), N'1370d8ff-57b7-4445-9200-976054d34c89')
INSERT [dbo].[InitialQuotationItem] ([Id], [Name], [ConstructionItemId], [SubConstructionId], [Area], [Price], [UnitPrice], [InsDate], [UpsDate], [InitialQuotationId]) VALUES (N'45dafc13-0df2-43f1-a8ce-058a16a91209', NULL, N'75922602-9153-4cc3-a7dc-225c9bc30a5e', N'06ff2d3d-2f14-4acc-ba2e-0c4ee659ca81', 50, 66330000, N'đ', CAST(N'2024-10-20T17:09:31.840' AS DateTime), CAST(N'2024-10-20T17:09:31.840' AS DateTime), N'a6521b8d-ab06-4c72-94f2-a31c932f05da')
INSERT [dbo].[InitialQuotationItem] ([Id], [Name], [ConstructionItemId], [SubConstructionId], [Area], [Price], [UnitPrice], [InsDate], [UpsDate], [InitialQuotationId]) VALUES (N'8946f6e3-32d3-4621-8e43-05db32ffa305', N'Sân', N'75c3e21a-0abd-4699-abbe-c8371ed4d49a', NULL, 101.4, NULL, N'đ', CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime), N'f6f03971-5a01-47ce-869a-c3f63d70fbb9')
GO
INSERT [dbo].[Labor] ([Id], [Name], [Price], [InsDate], [UpsDate], [Deflag], [Type]) VALUES (N'0d207781-eebb-4a03-96ce-005434963f44', N'Tổ chức công trường', 350000, NULL, NULL, 1, N'Finished')
INSERT [dbo].[Labor] ([Id], [Name], [Price], [InsDate], [UpsDate], [Deflag], [Type]) VALUES (N'a9850299-ea54-4f53-af09-1d4eb528fcd4', N'Vệ sinh cơ bản trước khi bàn giao', 150000, NULL, NULL, 1, N'Finished')
INSERT [dbo].[Labor] ([Id], [Name], [Price], [InsDate], [UpsDate], [Deflag], [Type]) VALUES (N'fec0ca84-5523-4531-b20b-1d70375f3699', N'Xây tường bao quanh công trình', 350000, NULL, NULL, 1, N'Rough')
GO
INSERT [dbo].[Material] ([Id], [SupplierId], [MaterialTypeId], [Name], [Price], [Unit], [Size], [Shape], [ImgUrl], [Description], [InsDate], [UpsDate], [UnitPrice], [IsAvailable], [MaterialSectionId]) VALUES (N'4232c02f-912c-41c9-aaef-0101a39de9fd', N'e0e57083-de54-4be8-aa42-5d15adb1ed92', N'ca5f7a58-7184-468c-9ce5-dcce3525e5e9', N'Dây cáp truyền hình MPE', 13000, N'cuộn', N'305m/cuộn', N'cuộn', NULL, NULL, NULL, NULL, N'vnđ', 1, N'499f0974-2a9b-440c-877f-e1e2f5cebfec')
INSERT [dbo].[Material] ([Id], [SupplierId], [MaterialTypeId], [Name], [Price], [Unit], [Size], [Shape], [ImgUrl], [Description], [InsDate], [UpsDate], [UnitPrice], [IsAvailable], [MaterialSectionId]) VALUES (N'6641641b-8808-410b-a4c9-0545b0540b07', N'0cbd8027-cf5e-4849-b5c1-a7a537f0c55a', N'fb2f4d82-f30e-4963-967a-156f763deb94', N'Ngói tráng men Hàn Quốc	', 45000, N'viên', N'28cm x 28cm', N'Hình vuông', NULL, N'Ngói tráng men công nghệ Hàn Quốc, có khả năng chống rêu mốc, bền màu theo thời gian.	', NULL, NULL, N'vnđ ', 1, N'eb96ae7b-7d96-4aff-850c-16d618e37ee4')
INSERT [dbo].[Material] ([Id], [SupplierId], [MaterialTypeId], [Name], [Price], [Unit], [Size], [Shape], [ImgUrl], [Description], [InsDate], [UpsDate], [UnitPrice], [IsAvailable], [MaterialSectionId]) VALUES (N'8df2018b-1f82-4dd5-902e-066550bb7774', N'd8b48345-6fd0-45e6-bdcc-705dc45d1f18', N'4b352083-96e9-498f-a9a9-627b26ac86a7', N'Cửa mặt tiền chính', 1850000, N'm2', NULL, NULL, NULL, NULL, NULL, NULL, N'vnđ', 1, N'616cd71f-20ca-404e-9e34-14189b6ba0ee')
GO
INSERT [dbo].[MaterialSection] ([Id], [Name], [InsDate]) VALUES (N'082dfe19-5250-43dd-ae01-02a34d37fe13', N'Dây điện', NULL)
INSERT [dbo].[MaterialSection] ([Id], [Name], [InsDate]) VALUES (N'f64aa8ed-f0f4-4b9f-856f-05f1c40297d8', N'Thiết bị', NULL)
INSERT [dbo].[MaterialSection] ([Id], [Name], [InsDate]) VALUES (N'c7dbe224-7d2f-4430-b0e9-0e20f50bbcf0', N'Gạch', NULL)
GO
INSERT [dbo].[MaterialType] ([Id], [Name], [InsDate], [UpsDate], [Deflag]) VALUES (N'ae56ad0c-acee-48b2-bfb0-05196a466d5e', N'Sơn', NULL, NULL, 1)
INSERT [dbo].[MaterialType] ([Id], [Name], [InsDate], [UpsDate], [Deflag]) VALUES (N'297efa40-de4c-47f2-9ba9-1364dcba6788', N'Ống dây điện', NULL, NULL, 1)
INSERT [dbo].[MaterialType] ([Id], [Name], [InsDate], [UpsDate], [Deflag]) VALUES (N'fb2f4d82-f30e-4963-967a-156f763deb94', N'Ngói', NULL, NULL, 1)
GO
INSERT [dbo].[Media] ([Id], [HouseDesignVersionId], [Name], [Url], [InsDate], [UpsDate], [SubTemplateId], [PaymentId], [DesignTemplateId], [InitialQuotationId], [FinalQuotationId]) VALUES (N'912fffe6-638f-43c3-888f-05b03c822506', NULL, N'Bản vẽ', N'https://res.cloudinary.com/de7pulfdj/image/upload/v1729605218/jhf1nzyz3dz53bc6fo4z.png', CAST(N'2024-10-16T15:43:23.430' AS DateTime), CAST(N'2024-10-16T15:43:23.430' AS DateTime), N'75723c8d-6c83-445c-83ff-d428895d5173', NULL, NULL, NULL, NULL)
INSERT [dbo].[Media] ([Id], [HouseDesignVersionId], [Name], [Url], [InsDate], [UpsDate], [SubTemplateId], [PaymentId], [DesignTemplateId], [InitialQuotationId], [FinalQuotationId]) VALUES (N'9673654a-1c07-4a54-83f7-063339402a60', NULL, N'Báo giá chi tiết', N'http://res.cloudinary.com/de7pulfdj/raw/upload/v1729956321/FinalQuotation/Bao_gia_chi_tiet_b81935a8-4482-43f5-ad68-558abde58d58_1.pdf', CAST(N'2024-10-26T22:25:21.560' AS DateTime), CAST(N'2024-10-26T22:25:21.560' AS DateTime), NULL, NULL, NULL, NULL, N'3bc03044-e974-4f03-921a-cf07bc00eec3')
INSERT [dbo].[Media] ([Id], [HouseDesignVersionId], [Name], [Url], [InsDate], [UpsDate], [SubTemplateId], [PaymentId], [DesignTemplateId], [InitialQuotationId], [FinalQuotationId]) VALUES (N'868e8bb6-b54e-4080-95fe-0a30cb1b3f7d', NULL, N'Bản vẽ', N'https://res.cloudinary.com/de7pulfdj/image/upload/v1729614531/pisfyljlnnnrwxolwnqw.png', CAST(N'2024-10-16T15:43:23.430' AS DateTime), CAST(N'2024-10-16T15:43:23.430' AS DateTime), N'64317b00-a7a2-4ffe-b67e-b68e669950eb', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Package] ([Id], [PackageTypeId], [PackageName], [Unit], [Price], [Status], [InsDate], [UpsDate]) VALUES (N'abeeddf8-487d-4dea-afb9-173b3feb0338', N'313b205d-8dbd-438c-9935-8b460f3b7237', N'Gói hoàn thiện tiết kiệm', N'm2', 3350000, N'Active', CAST(N'2024-10-08T21:06:22.913' AS DateTime), NULL)
INSERT [dbo].[Package] ([Id], [PackageTypeId], [PackageName], [Unit], [Price], [Status], [InsDate], [UpsDate]) VALUES (N'a1625f79-0af9-4fe6-8021-2f317ee68b0d', N'313b205d-8dbd-438c-9935-8b460f3b7237', N'Gói hoàn thiện tiêu chuẩn', N'm2', 3550000, N'Active', CAST(N'2024-10-08T21:08:06.547' AS DateTime), NULL)
INSERT [dbo].[Package] ([Id], [PackageTypeId], [PackageName], [Unit], [Price], [Status], [InsDate], [UpsDate]) VALUES (N'd32ad002-f9a8-4e0c-a3d6-4f6d5890eb91', N'e4f968ed-74b2-4164-a8be-3f83220be61d', N'Gói thô linh hoạt', N'm2', 3450000, N'Active', CAST(N'2024-10-08T00:14:59.440' AS DateTime), NULL)
GO
INSERT [dbo].[PackageDetail] ([Id], [PackageId], [Action], [Type], [InsDate]) VALUES (N'4748e844-a9b6-4246-bd7c-17570d9b9a9d', N'90c30024-60b6-49af-8b0c-9c8d8ac02e63', N'', N'Rough', CAST(N'2024-10-08T00:11:22.087' AS DateTime))
INSERT [dbo].[PackageDetail] ([Id], [PackageId], [Action], [Type], [InsDate]) VALUES (N'e0e4212f-b98f-4aff-99c8-677ba7f3c13f', N'aa5057d8-9b30-4f17-a8ee-7aad655b63cc', NULL, N'Rough', CAST(N'2024-10-08T00:10:22.087' AS DateTime))
INSERT [dbo].[PackageDetail] ([Id], [PackageId], [Action], [Type], [InsDate]) VALUES (N'fb242fd4-d4a7-4cdd-bdda-a47b092fe012', N'20f42d47-5ea5-469d-a064-fabfa2b2bc15', N'', N'Rough', CAST(N'2024-10-08T00:03:48.900' AS DateTime))
GO
INSERT [dbo].[PackageHouse] ([Id], [PackageId], [DesignTemplateId], [ImgUrl], [InsDate], [Description]) VALUES (N'5216283e-7afd-4d5c-9366-0539c35e73ec', N'5245f485-c546-4051-b04e-954fd773811e', N'1e611fdb-ec3f-4927-a307-b9d3c3b36d63', N'https://res.cloudinary.com/de7pulfdj/image/upload/v1729871341/o2m6cffzgoh3jf57wkhp.png', CAST(N'2024-10-08T00:14:59.440' AS DateTime), NULL)
INSERT [dbo].[PackageHouse] ([Id], [PackageId], [DesignTemplateId], [ImgUrl], [InsDate], [Description]) VALUES (N'be2abb10-13de-4168-b1e1-06f59da00297', N'a1625f79-0af9-4fe6-8021-2f317ee68b0d', N'ec6d9970-ea66-455a-8815-dd69d72ff97f', N'https://res.cloudinary.com/de7pulfdj/image/upload/v1729614052/xftcfu4vzwtbjq28blpi.png', CAST(N'2024-10-08T00:16:59.440' AS DateTime), N'Đơn giá  này áp dụng cho nhà phố biệt thự tiêu chuẩn. Bao gồm diện tích thi công trên 365 m², 1 tầng và 2 phòng. Lưu ý rằng đơn giá trên chưa bao gồm VAT.')
INSERT [dbo].[PackageHouse] ([Id], [PackageId], [DesignTemplateId], [ImgUrl], [InsDate], [Description]) VALUES (N'5aec37be-ae42-4771-a792-0ee4d917d246', N'bec0c96c-ddce-4d9b-8117-c455c53269d9', N'7af799a9-02fa-4cd0-b954-86b102840e60', N'https://res.cloudinary.com/de7pulfdj/image/upload/v1729607471/wgpmpivsfnna9h42auvf.png', CAST(N'2024-10-08T00:17:59.440' AS DateTime), N'Đơn giá  này áp dụng cho nhà phố biệt thự tiêu chuẩn. Bao gồm diện tích thi công trên 343 m², 1 tầng và 2 phòng. Lưu ý rằng đơn giá trên chưa bao gồm VAT.')
GO
INSERT [dbo].[PackageLabor] ([Id], [PackageDetailId], [LaborId], [Price], [InsDate]) VALUES (N'7942fc30-b95f-4607-bda0-01522d7a8b76', N'4748e844-a9b6-4246-bd7c-17570d9b9a9d', N'1413ec55-981b-406e-8e78-83c742c39c9e', 400000, CAST(N'2024-10-08T00:11:22.087' AS DateTime))
INSERT [dbo].[PackageLabor] ([Id], [PackageDetailId], [LaborId], [Price], [InsDate]) VALUES (N'70926bd1-025f-4e91-8e93-05584ed73085', N'e0e4212f-b98f-4aff-99c8-677ba7f3c13f', N'63a7953f-a220-4938-8c27-40bddc408617', 350000, NULL)
INSERT [dbo].[PackageLabor] ([Id], [PackageDetailId], [LaborId], [Price], [InsDate]) VALUES (N'b7200e9b-cbf1-4167-95da-0b0f8f1d99fe', N'fb242fd4-d4a7-4cdd-bdda-a47b092fe012', N'fec0ca84-5523-4531-b20b-1d70375f3699', 350000, CAST(N'2024-10-08T00:03:48.900' AS DateTime))
GO
INSERT [dbo].[PackageMapPromotion] ([Id], [PackageId], [PromotionId], [InsDate]) VALUES (N'c9671370-11de-4b07-85a7-fec5f24d9246', N'a1625f79-0af9-4fe6-8021-2f317ee68b0d', N'df3b398f-0e62-4225-9366-efc68a4d4d21', CAST(N'2024-10-26T00:55:11.933' AS DateTime))
GO
INSERT [dbo].[PackageMaterial] ([Id], [MaterialSectionId], [PackageDetailId], [InsDate]) VALUES (N'0cbaca09-7b6e-4103-a50e-00335932e128', N'eebabf3a-1cd5-4736-9ee9-3c3e5c3b43ef', N'fb242fd4-d4a7-4cdd-bdda-a47b092fe012', CAST(N'2024-10-08T00:03:48.900' AS DateTime))
INSERT [dbo].[PackageMaterial] ([Id], [MaterialSectionId], [PackageDetailId], [InsDate]) VALUES (N'73030553-73b1-47e4-a29d-066507bbad3a', N'c8e9092b-31c7-402a-b5f0-561e87a59c0a', N'4748e844-a9b6-4246-bd7c-17570d9b9a9d', CAST(N'2024-10-08T00:11:22.087' AS DateTime))
INSERT [dbo].[PackageMaterial] ([Id], [MaterialSectionId], [PackageDetailId], [InsDate]) VALUES (N'a48c147c-cfa9-43b4-9419-0aa93287fae3', N'082dfe19-5250-43dd-ae01-02a34d37fe13', N'e0e4212f-b98f-4aff-99c8-677ba7f3c13f', NULL)
GO
INSERT [dbo].[PackageQuotation] ([Id], [PackageId], [InitialQuotationId], [Type], [InsDate]) VALUES (N'6d80c99a-1c7e-4b9d-9db5-07e64c0c4e39', N'a1625f79-0af9-4fe6-8021-2f317ee68b0d', N'3a6b0344-cfbd-4c06-99f0-39218c24ea65', N'FINISHED', CAST(N'2024-10-20T17:09:04.187' AS DateTime))
INSERT [dbo].[PackageQuotation] ([Id], [PackageId], [InitialQuotationId], [Type], [InsDate]) VALUES (N'635c7617-438a-41b7-b43b-080cc15e6d82', N'20f42d47-5ea5-469d-a064-fabfa2b2bc15', N'5ee3ccde-954c-42f1-a055-93ae39dfece2', N'ROUGH', CAST(N'2024-10-20T15:33:47.507' AS DateTime))
INSERT [dbo].[PackageQuotation] ([Id], [PackageId], [InitialQuotationId], [Type], [InsDate]) VALUES (N'7c5f1dc7-6b72-4ca0-8b02-0c0ffa9533cb', N'20f42d47-5ea5-469d-a064-fabfa2b2bc15', N'17d0fc6b-51a8-4d4d-aeaf-37b9a14b9db4', N'ROUGH', CAST(N'2024-10-08T13:20:41.523' AS DateTime))
GO
INSERT [dbo].[PackageType] ([Id], [Name], [InsDate]) VALUES (N'e4f968ed-74b2-4164-a8be-3f83220be61d', N'ROUGH', NULL)
INSERT [dbo].[PackageType] ([Id], [Name], [InsDate]) VALUES (N'313b205d-8dbd-438c-9935-8b460f3b7237', N'FINISHED', NULL)
GO
INSERT [dbo].[Payment] ([Id], [PaymentTypeId], [InsDate], [UpsDate], [TotalPrice], [PaymentDate], [PaymentPhase], [Unit], [Percents], [Description]) VALUES (N'e1f983d4-9411-4b99-b2de-00494426835d', N'2d4a2343-d102-4dc9-8a4f-6647ea397e6c', CAST(N'2024-10-19T21:35:41.267' AS DateTime), CAST(N'2024-10-19T21:35:41.267' AS DateTime), 231000000, NULL, NULL, N'VNĐ', N'15%', N'Đổ móng + Đà kiểng')
INSERT [dbo].[Payment] ([Id], [PaymentTypeId], [InsDate], [UpsDate], [TotalPrice], [PaymentDate], [PaymentPhase], [Unit], [Percents], [Description]) VALUES (N'547a3619-4899-4f43-8db4-023d88bb8e5d', N'2d4a2343-d102-4dc9-8a4f-6647ea397e6c', CAST(N'2024-10-21T16:59:24.740' AS DateTime), CAST(N'2024-10-21T16:59:24.740' AS DateTime), NULL, CAST(N'2024-10-21T16:59:24.740' AS DateTime), CAST(N'2024-10-21T16:59:24.740' AS DateTime), N'VNĐ', N'50', N'Đợt 1')
INSERT [dbo].[Payment] ([Id], [PaymentTypeId], [InsDate], [UpsDate], [TotalPrice], [PaymentDate], [PaymentPhase], [Unit], [Percents], [Description]) VALUES (N'172385d9-75cf-496a-a6d5-072db279ce13', N'2d4a2343-d102-4dc9-8a4f-6647ea397e6c', CAST(N'2024-10-22T18:51:24.600' AS DateTime), CAST(N'2024-10-22T18:51:24.600' AS DateTime), 0, NULL, NULL, N'VNĐ', N'', N'')
GO
INSERT [dbo].[PaymentType] ([Id], [Name]) VALUES (N'2db967c9-5928-4a1e-a9ec-5130eb179d6e', N'Hợp đồng thi công nhà ở dân dụng')
INSERT [dbo].[PaymentType] ([Id], [Name]) VALUES (N'2d4a2343-d102-4dc9-8a4f-6647ea397e6c', N'Hợp đồng tư vấn và thiết kế bản vẽ nhà ở dân dụng')
GO
INSERT [dbo].[Project] ([Id], [CustomerId], [Name], [Type], [Status], [InsDate], [UpsDate], [ProjectCode], [Address], [Area]) VALUES (N'a8a91e11-f105-48bc-acfa-204081c81242', N'b5e8a23b-d22c-4ca1-8187-e983fe82c624', N'Báo giá sơ bộ 10/26/2024 4:32:20 PM', N'TEMPLATE', N'Processing', CAST(N'2024-10-26T16:32:20.040' AS DateTime), CAST(N'2024-10-26T16:32:20.040' AS DateTime), N'OH6EF', N'Test TEMPALTE', 436.663)
INSERT [dbo].[Project] ([Id], [CustomerId], [Name], [Type], [Status], [InsDate], [UpsDate], [ProjectCode], [Address], [Area]) VALUES (N'6d8a922c-f2f4-4258-b3d1-2565b745ce87', N'b5e8a23b-d22c-4ca1-8187-e983fe82c624', N'Báo giá sơ bộ 10/24/2024 15:42:17', N'ALL', N'Processing', CAST(N'2024-10-24T15:42:17.417' AS DateTime), CAST(N'2024-10-24T15:42:17.417' AS DateTime), N'S541O', N'123', 115.7)
INSERT [dbo].[Project] ([Id], [CustomerId], [Name], [Type], [Status], [InsDate], [UpsDate], [ProjectCode], [Address], [Area]) VALUES (N'78f87815-d7ba-489e-a6d8-3673f3bb7d3b', N'2fcb2c45-4dcc-4f3a-8fe4-1d2ee48fa931', N'Báo giá sơ bộ 10/23/2024 05:38:09', N'ALL', N'Processing', CAST(N'2024-10-23T05:38:09.193' AS DateTime), CAST(N'2024-10-23T05:38:09.193' AS DateTime), N'OUEOM', N'testte', 1115.6)
GO
INSERT [dbo].[Promotion] ([Id], [Code], [Value], [InsDate], [StartTime], [Name], [ExpTime], [IsRunning], [Unit]) VALUES (N'28f1883e-71ea-4cb7-b085-36c974105a8f', N'2PWZ508CJI', 20, CAST(N'2024-10-26T01:18:25.627' AS DateTime), CAST(N'2024-10-26T08:16:00.000' AS DateTime), N'Khuyến mãi 2026', CAST(N'2026-10-28T08:16:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[Promotion] ([Id], [Code], [Value], [InsDate], [StartTime], [Name], [ExpTime], [IsRunning], [Unit]) VALUES (N'b8c160bf-6faa-4196-9091-5bb560ab5f83', N'GZC0CN5W82', 99, CAST(N'2024-10-26T01:23:19.177' AS DateTime), CAST(N'2024-10-26T08:19:00.000' AS DateTime), N'Khuyến mãi', CAST(N'2024-10-29T08:19:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[Promotion] ([Id], [Code], [Value], [InsDate], [StartTime], [Name], [ExpTime], [IsRunning], [Unit]) VALUES (N'285eeb66-17a3-444f-8e65-b7d8fdc32ca2', NULL, 50000, CAST(N'2024-10-21T13:06:23.600' AS DateTime), CAST(N'2024-10-22T13:06:23.600' AS DateTime), N'Khuyến mãi giảm đơn giá(theo diện tích xây)', CAST(N'2025-10-23T13:06:23.600' AS DateTime), 1, NULL)
GO
INSERT [dbo].[QuotationItem] ([Id], [Unit], [Weight], [UnitPriceLabor], [UnitPriceRough], [UnitPriceFinished], [TotalPriceLabor], [TotalPriceRough], [TotalPriceFinished], [InsDate], [UpsDate], [FinalQuotationItemId], [Note]) VALUES (N'4ec050e8-64f6-4b44-be27-02b4dacaf408', N'm', 200, NULL, 444440, NULL, NULL, 888880, NULL, NULL, NULL, N'b3039413-c1ba-4bf3-89b3-0122c1e085f5', NULL)
INSERT [dbo].[QuotationItem] ([Id], [Unit], [Weight], [UnitPriceLabor], [UnitPriceRough], [UnitPriceFinished], [TotalPriceLabor], [TotalPriceRough], [TotalPriceFinished], [InsDate], [UpsDate], [FinalQuotationItemId], [Note]) VALUES (N'4ad0e48e-0f2d-4e96-b090-0d4c0aad3c43', N'thùng', 20, NULL, 620000, NULL, NULL, 84000000, NULL, NULL, NULL, N'd160e67a-eff5-45e8-aa0c-01a6854454ba', NULL)
INSERT [dbo].[QuotationItem] ([Id], [Unit], [Weight], [UnitPriceLabor], [UnitPriceRough], [UnitPriceFinished], [TotalPriceLabor], [TotalPriceRough], [TotalPriceFinished], [InsDate], [UpsDate], [FinalQuotationItemId], [Note]) VALUES (N'97b5e93c-2f3a-4144-a198-22be3653d839', N'bộ', 10, NULL, NULL, 3500000, NULL, NULL, 35000000, NULL, NULL, N'b3cddf99-026f-4f99-a411-10c34343c827', NULL)
GO
INSERT [dbo].[QuotationLabor] ([Id], [QuotationItemId], [LaborId], [LaborPrice]) VALUES (N'25d4b3f5-6829-4785-aa27-04c40b3062c1', N'6c076db9-bb36-4fab-8fef-96e5c9dbf7a7', N'17b73a9b-33ee-416b-8307-b46aa4417f90', 350000)
INSERT [dbo].[QuotationLabor] ([Id], [QuotationItemId], [LaborId], [LaborPrice]) VALUES (N'420b2666-581c-4394-aefe-056cc5d7dbc7', N'aea0e11f-eef8-4255-9dba-f8caece25116', N'5a21c01b-954e-40da-93d2-7e1d69013c9e', 300000)
INSERT [dbo].[QuotationLabor] ([Id], [QuotationItemId], [LaborId], [LaborPrice]) VALUES (N'ddf5c1d9-c806-4c2e-afeb-0aed6c4430b8', N'045bee20-b289-4cb4-86e1-6162162983c9', N'0d207781-eebb-4a03-96ce-005434963f44', 350000)
GO
INSERT [dbo].[QuotationMaterial] ([Id], [QuotationItemId], [MaterialId], [Unit], [MaterialPrice]) VALUES (N'671435e4-dd0b-4999-91a7-11a99afe5123', N'c4ee1d38-91ad-4865-9eb5-c0daf20872dd', N'79a5e6ef-63f3-4742-aca6-9c5a77b1204a', N'm2', 180000)
INSERT [dbo].[QuotationMaterial] ([Id], [QuotationItemId], [MaterialId], [Unit], [MaterialPrice]) VALUES (N'1453425c-2c3a-430f-8de0-2d447b700a9e', N'4ec050e8-64f6-4b44-be27-02b4dacaf408', N'f9c9a292-3023-498a-a128-1b241176cb18', N'm2', 444440)
INSERT [dbo].[QuotationMaterial] ([Id], [QuotationItemId], [MaterialId], [Unit], [MaterialPrice]) VALUES (N'd930a309-b3fc-4d87-a5ee-3ff2243e442c', N'6c9b1f09-c4da-4307-9b18-4c648f040b12', N'3a6e8cc7-34cf-4d5c-ae4c-84f0a37f48f1', N'm2', 170000)
GO
INSERT [dbo].[QuotationUtilities] ([Id], [UtilitiesItemId], [FinalQuotationId], [InitialQuotationId], [Name], [Coefiicient], [Price], [Description], [InsDate], [UpsDate], [UtilitiesSectionId]) VALUES (N'd80870a2-a8e2-4cb6-afe8-029ec275fa6b', N'0a76055d-3aa0-41bf-868f-637ef0c7b19b', NULL, N'83ec4fac-a4c8-42dd-8fea-68b5017d738a', N'Sàn từ 40m2 ~ 50m2', 0.04, 425385000.00000006, N'Sàn từ 40m2 ~ 50m2', CAST(N'2024-10-22T14:26:52.637' AS DateTime), CAST(N'2024-10-22T14:26:52.637' AS DateTime), N'dc3e0910-dae6-4faa-abfd-6e79d2a0a9aa')
INSERT [dbo].[QuotationUtilities] ([Id], [UtilitiesItemId], [FinalQuotationId], [InitialQuotationId], [Name], [Coefiicient], [Price], [Description], [InsDate], [UpsDate], [UtilitiesSectionId]) VALUES (N'c64192a8-417c-4e12-8f63-0e86c46bed8f', NULL, NULL, N'59e358b0-6dbe-4344-ac57-b7e24ce834b6', N'Sàn từ 30m2 ~ 40m2', 0.8, 50000, N'Sàn từ 30m2 ~ 40m2', CAST(N'2024-10-20T15:50:31.123' AS DateTime), CAST(N'2024-10-20T15:50:31.123' AS DateTime), N'9329718d-7707-49d5-8cc5-1105ad5c14ac')
INSERT [dbo].[QuotationUtilities] ([Id], [UtilitiesItemId], [FinalQuotationId], [InitialQuotationId], [Name], [Coefiicient], [Price], [Description], [InsDate], [UpsDate], [UtilitiesSectionId]) VALUES (N'854cb32c-c02f-4a8e-8db6-0ec14a68aa42', N'2ec103aa-aa83-4d58-9e85-22a6247f4cd6', NULL, N'7dcb03d8-e5a5-47fa-af68-bb8fd4c757bd', N'Sàn từ 30m2 ~ 40m2', NULL, 50000, N'Sàn từ 30m2 ~ 40m2', CAST(N'2024-10-23T22:12:54.177' AS DateTime), CAST(N'2024-10-23T22:12:54.177' AS DateTime), N'dc3e0910-dae6-4faa-abfd-6e79d2a0a9aa')
GO
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (N'9959ce96-de26-40a7-b8a7-28a704062e89', N'SalesStaff')
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (N'7af0d75e-1157-48b4-899d-3196deed5fad', N'DesignStaff')
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (N'a3bb42ca-de7c-4c9f-8f58-d8175f96688c', N'Manager')
GO
INSERT [dbo].[SubConstructionItems] ([Id], [ConstructionItemsId], [Name], [Coefficient], [Unit], [InsDate]) VALUES (N'3b097855-0c93-4955-a25c-062abd15cf74', N'd8f3d72b-042f-4108-b9ea-3f93666921d2', N'Mái Ngói Kèo Thép (nghiêng 30 độ)', 0.91, N'm2        ', CAST(N'2024-09-27T21:37:09.000' AS DateTime))
INSERT [dbo].[SubConstructionItems] ([Id], [ConstructionItemsId], [Name], [Coefficient], [Unit], [InsDate]) VALUES (N'f3d73d84-c6c5-47e3-9826-075db344d1ec', N'6aa8e2fc-370e-4e6c-8269-d22d2c060e65', N'Thông tầng < 8m2', 1, N'm2        ', CAST(N'2024-09-27T15:35:48.480' AS DateTime))
INSERT [dbo].[SubConstructionItems] ([Id], [ConstructionItemsId], [Name], [Coefficient], [Unit], [InsDate]) VALUES (N'becab190-4935-4975-81d6-08630e7df54b', N'15b85094-21a2-46e7-95aa-0fba6890ae36', N'Thông tầng < 8m2', 1, N'm2        ', CAST(N'2024-09-27T15:35:37.633' AS DateTime))
GO
INSERT [dbo].[SubTemplate] ([Id], [DesignTemplateId], [BuildingArea], [FloorArea], [InsDate], [Size], [ImgUrl]) VALUES (N'420e61d1-cd1f-4d90-8e93-1c2eee62f086', N'ec6d9970-ea66-455a-8815-dd69d72ff97f', 390.207, 120, NULL, N'R8 x D15 ', N'https://res.cloudinary.com/de7pulfdj/image/upload/v1729614225/kmpvxezqnogv5amxbl4x.png')
INSERT [dbo].[SubTemplate] ([Id], [DesignTemplateId], [BuildingArea], [FloorArea], [InsDate], [Size], [ImgUrl]) VALUES (N'bcf7b1e4-1cf5-42c2-958c-3f05e3c4ce68', N'335252c2-f710-430f-ab14-a1412ee29237', 417.8, 130, NULL, N'R13 x D10', N'https://res.cloudinary.com/de7pulfdj/image/upload/v1729615600/gmqxzrykje8d597aqblz.png')
INSERT [dbo].[SubTemplate] ([Id], [DesignTemplateId], [BuildingArea], [FloorArea], [InsDate], [Size], [ImgUrl]) VALUES (N'7f3c7712-139a-4444-8a3c-79fc3831259f', N'ec6d9970-ea66-455a-8815-dd69d72ff97f', 436.663, 135, NULL, N'R9 x D15 ', N'https://res.cloudinary.com/de7pulfdj/image/upload/v1729614240/mgqpl5w2rkhk2n6txczu.png')
GO
INSERT [dbo].[Supplier] ([Id], [Name], [Email], [ConstractPhone], [ImgUrl], [InsDate], [UpsDate], [Deflag], [ShortDescription], [Description]) VALUES (N'7d7a584c-1ad5-4a91-898b-0166748b0abb', N'Cty Việt-Nhật', NULL, NULL, NULL, NULL, NULL, 1, N'Thép Việt-Nhật', NULL)
INSERT [dbo].[Supplier] ([Id], [Name], [Email], [ConstractPhone], [ImgUrl], [InsDate], [UpsDate], [Deflag], [ShortDescription], [Description]) VALUES (N'b3fd9918-86f3-46ec-886f-1325dc5db342', N'OEXA Paint Việt Nam', NULL, NULL, NULL, NULL, NULL, 1, N'CT Sơn', NULL)
INSERT [dbo].[Supplier] ([Id], [Name], [Email], [ConstractPhone], [ImgUrl], [InsDate], [UpsDate], [Deflag], [ShortDescription], [Description]) VALUES (N'c02a7db9-3dd6-434f-9fb9-1890c4209dee', N'Kova', NULL, NULL, NULL, NULL, NULL, 1, N'Sơn', NULL)
GO
INSERT [dbo].[TemplateItem] ([Id], [SubTemplateId], [ConstructionItemId], [Area], [Unit], [InsDate], [SubConstructionId], [Price]) VALUES (N'56154fda-125e-4610-ad17-027c1c3ae2d2', N'd4afdc22-a07a-486f-b521-a9068d391821', N'75c3e21a-0abd-4699-abbe-c8371ed4d49a', 2.4192, N'm2', NULL, NULL, NULL)
INSERT [dbo].[TemplateItem] ([Id], [SubTemplateId], [ConstructionItemId], [Area], [Unit], [InsDate], [SubConstructionId], [Price]) VALUES (N'3d8f02a4-b6fc-4319-b341-035e2c38a6b7', N'74ed9a6c-e9ad-48b0-8b92-db5e4ba12e64', N'bd101af5-ac48-43ba-a474-957a20a933bd', 111.141, N'm2', NULL, N'7e442652-eefc-43b7-918b-a264a10e679d', NULL)
INSERT [dbo].[TemplateItem] ([Id], [SubTemplateId], [ConstructionItemId], [Area], [Unit], [InsDate], [SubConstructionId], [Price]) VALUES (N'9378f67c-1054-4702-9791-06aaa254ab47', N'bcf7b1e4-1cf5-42c2-958c-3f05e3c4ce68', N'75922602-9153-4cc3-a7dc-225c9bc30a5e', 78, N'm2', NULL, N'287f222c-2d3b-4445-900c-2a32101bec00', NULL)
GO
INSERT [dbo].[UtilitiesItem] ([Id], [SectionId], [Name], [Coefficient], [InsDate], [UpsDate], [Deflag]) VALUES (N'388ebe68-a4ce-4662-8297-0a49a2a5fe4d', N'1a091f31-a1d1-41c5-a018-3fc6b47408c5', N'Chi phí trọn gói', 0.02, CAST(N'2024-10-07T23:31:19.780' AS DateTime), CAST(N'2024-10-07T23:31:19.780' AS DateTime), 1)
INSERT [dbo].[UtilitiesItem] ([Id], [SectionId], [Name], [Coefficient], [InsDate], [UpsDate], [Deflag]) VALUES (N'baba9651-91ee-40a2-a824-0b90f861b72e', N'8d94e702-1a40-4316-815c-1668ab01d7d6', N'Hẻm < 2m', 0.05, CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-10-20T12:39:47.407' AS DateTime), 1)
INSERT [dbo].[UtilitiesItem] ([Id], [SectionId], [Name], [Coefficient], [InsDate], [UpsDate], [Deflag]) VALUES (N'8f17e0a9-6192-4155-a360-165073ce598d', N'8d94e702-1a40-4316-815c-1668ab01d7d6', N'Hẻm 2m - 3m', 0.04, CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime), 1)
GO
INSERT [dbo].[UtilitiesSection] ([Id], [UtilitiesId], [Name], [Deflag], [InsDate], [UpsDate], [Description], [UnitPrice], [Unit]) VALUES (N'8d94e702-1a40-4316-815c-1668ab01d7d6', N'002e459a-e010-493f-8585-d729d3cf357b', N'Chi phí thi công trình hẻm nhỏ', 1, CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[UtilitiesSection] ([Id], [UtilitiesId], [Name], [Deflag], [InsDate], [UpsDate], [Description], [UnitPrice], [Unit]) VALUES (N'928e114f-3f3b-4a1a-b296-25ba413e1a54', N'cb87f1f6-f9d4-4c43-8d8c-5f16810e75cb', N'Chi phí bản vẽ hoàn công', 1, CAST(N'2024-10-14T13:33:58.557' AS DateTime), CAST(N'2024-10-14T13:33:58.557' AS DateTime), N'Chi phí bản vẽ hoàn công', 5000000, N'đ')
INSERT [dbo].[UtilitiesSection] ([Id], [UtilitiesId], [Name], [Deflag], [InsDate], [UpsDate], [Description], [UnitPrice], [Unit]) VALUES (N'0c808ed8-1da2-45c0-b70b-2a54610a5f54', N'2367dec1-e649-4549-b81b-701f2dbc1a7b', N'Chi phí xây tường 100mm thành tường 200mm(vách ngăn 200)', 1, CAST(N'2024-10-07T23:20:08.517' AS DateTime), CAST(N'2024-10-07T23:20:08.517' AS DateTime), N'', 250000, N'đ/m2')
GO
INSERT [dbo].[UtilityOption] ([Id], [Name], [Type], [Deflag], [InsDate], [UpsDate]) VALUES (N'cb87f1f6-f9d4-4c43-8d8c-5f16810e75cb', N'Giấy phép', N'FINISHED', 1, CAST(N'2024-10-14T13:33:51.950' AS DateTime), CAST(N'2024-10-20T12:35:28.227' AS DateTime))
INSERT [dbo].[UtilityOption] ([Id], [Name], [Type], [Deflag], [InsDate], [UpsDate]) VALUES (N'04f30a66-9758-45db-88a7-6f098edc4837', N'Dịch vụ tiện ích thêm', N'FINISHED', 1, CAST(N'2024-09-28T14:47:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime))
INSERT [dbo].[UtilityOption] ([Id], [Name], [Type], [Deflag], [InsDate], [UpsDate]) VALUES (N'2367dec1-e649-4549-b81b-701f2dbc1a7b', N'Nâng cao chất lượng phần thô', N'ROUGH', 1, CAST(N'2024-09-28T14:46:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[AssignTask]  WITH CHECK ADD  CONSTRAINT [FK_AssignTask_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[AssignTask] CHECK CONSTRAINT [FK_AssignTask_Account]
GO
ALTER TABLE [dbo].[AssignTask]  WITH CHECK ADD  CONSTRAINT [FK_AssignTask_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[AssignTask] CHECK CONSTRAINT [FK_AssignTask_Project]
GO
ALTER TABLE [dbo].[BatchPayment]  WITH CHECK ADD  CONSTRAINT [BatchPayment_Payment_FK] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment] ([Id])
GO
ALTER TABLE [dbo].[BatchPayment] CHECK CONSTRAINT [BatchPayment_Payment_FK]
GO
ALTER TABLE [dbo].[BatchPayment]  WITH CHECK ADD  CONSTRAINT [FK_BactchPayment_Contract] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contract] ([Id])
GO
ALTER TABLE [dbo].[BatchPayment] CHECK CONSTRAINT [FK_BactchPayment_Contract]
GO
ALTER TABLE [dbo].[BatchPayment]  WITH CHECK ADD  CONSTRAINT [FK_BactchPayment_FinalQuotation] FOREIGN KEY([FinalQuotationId])
REFERENCES [dbo].[FinalQuotation] ([Id])
GO
ALTER TABLE [dbo].[BatchPayment] CHECK CONSTRAINT [FK_BactchPayment_FinalQuotation]
GO
ALTER TABLE [dbo].[BatchPayment]  WITH CHECK ADD  CONSTRAINT [FK_BactchPayment_InitialQuotation] FOREIGN KEY([IntitialQuotationId])
REFERENCES [dbo].[InitialQuotation] ([Id])
GO
ALTER TABLE [dbo].[BatchPayment] CHECK CONSTRAINT [FK_BactchPayment_InitialQuotation]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Account]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Project]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account]
GO
ALTER TABLE [dbo].[EquipmentItem]  WITH CHECK ADD  CONSTRAINT [FK_EquimentItem_FinalQuotation] FOREIGN KEY([FinalQuotationId])
REFERENCES [dbo].[FinalQuotation] ([Id])
GO
ALTER TABLE [dbo].[EquipmentItem] CHECK CONSTRAINT [FK_EquimentItem_FinalQuotation]
GO
ALTER TABLE [dbo].[FinalQuotation]  WITH CHECK ADD  CONSTRAINT [FK_FinalQuotation_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[FinalQuotation] CHECK CONSTRAINT [FK_FinalQuotation_Project]
GO
ALTER TABLE [dbo].[FinalQuotation]  WITH CHECK ADD  CONSTRAINT [FK_FinalQuotation_Promotion] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotion] ([Id])
GO
ALTER TABLE [dbo].[FinalQuotation] CHECK CONSTRAINT [FK_FinalQuotation_Promotion]
GO
ALTER TABLE [dbo].[FinalQuotationItem]  WITH CHECK ADD  CONSTRAINT [FK_FinalQuotationItem_ConstructionItems] FOREIGN KEY([ConstructionItemId])
REFERENCES [dbo].[ConstructionItems] ([Id])
GO
ALTER TABLE [dbo].[FinalQuotationItem] CHECK CONSTRAINT [FK_FinalQuotationItem_ConstructionItems]
GO
ALTER TABLE [dbo].[FinalQuotationItem]  WITH CHECK ADD  CONSTRAINT [FK_FinalQuotationItem_FinalQuotation] FOREIGN KEY([FinalQuotationId])
REFERENCES [dbo].[FinalQuotation] ([Id])
GO
ALTER TABLE [dbo].[FinalQuotationItem] CHECK CONSTRAINT [FK_FinalQuotationItem_FinalQuotation]
GO
ALTER TABLE [dbo].[HouseDesignDrawing]  WITH CHECK ADD  CONSTRAINT [FK_HouseDesignDrawing_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[HouseDesignDrawing] CHECK CONSTRAINT [FK_HouseDesignDrawing_Account]
GO
ALTER TABLE [dbo].[HouseDesignDrawing]  WITH CHECK ADD  CONSTRAINT [FK_HouseDesignDrawing_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[HouseDesignDrawing] CHECK CONSTRAINT [FK_HouseDesignDrawing_Project]
GO
ALTER TABLE [dbo].[HouseDesignVersion]  WITH CHECK ADD  CONSTRAINT [FK_HouseDesignVersion_HouseDesignDrawing] FOREIGN KEY([HouseDesignDrawingId])
REFERENCES [dbo].[HouseDesignDrawing] ([Id])
GO
ALTER TABLE [dbo].[HouseDesignVersion] CHECK CONSTRAINT [FK_HouseDesignVersion_HouseDesignDrawing]
GO
ALTER TABLE [dbo].[InitialQuotation]  WITH CHECK ADD  CONSTRAINT [FK_InitialQuotation_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[InitialQuotation] CHECK CONSTRAINT [FK_InitialQuotation_Project]
GO
ALTER TABLE [dbo].[InitialQuotation]  WITH CHECK ADD  CONSTRAINT [FK_InitialQuotation_Promotion] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotion] ([Id])
GO
ALTER TABLE [dbo].[InitialQuotation] CHECK CONSTRAINT [FK_InitialQuotation_Promotion]
GO
ALTER TABLE [dbo].[InitialQuotationItem]  WITH CHECK ADD  CONSTRAINT [FK_InitialQuotationItem_ConstructionItems] FOREIGN KEY([ConstructionItemId])
REFERENCES [dbo].[ConstructionItems] ([Id])
GO
ALTER TABLE [dbo].[InitialQuotationItem] CHECK CONSTRAINT [FK_InitialQuotationItem_ConstructionItems]
GO
ALTER TABLE [dbo].[InitialQuotationItem]  WITH CHECK ADD  CONSTRAINT [FK_InitialQuotationItem_InitialQuotation] FOREIGN KEY([InitialQuotationId])
REFERENCES [dbo].[InitialQuotation] ([Id])
GO
ALTER TABLE [dbo].[InitialQuotationItem] CHECK CONSTRAINT [FK_InitialQuotationItem_InitialQuotation]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MaterialType] FOREIGN KEY([MaterialTypeId])
REFERENCES [dbo].[MaterialType] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MaterialType]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Supplier]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [Material_MaterialSection_FK] FOREIGN KEY([MaterialSectionId])
REFERENCES [dbo].[MaterialSection] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [Material_MaterialSection_FK]
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [FK_Media_FinalQuotation] FOREIGN KEY([FinalQuotationId])
REFERENCES [dbo].[FinalQuotation] ([Id])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK_Media_FinalQuotation]
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [FK_Media_HouseDesignVersion] FOREIGN KEY([HouseDesignVersionId])
REFERENCES [dbo].[HouseDesignVersion] ([Id])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK_Media_HouseDesignVersion]
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [FK_Media_InitialQuotation] FOREIGN KEY([InitialQuotationId])
REFERENCES [dbo].[InitialQuotation] ([Id])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK_Media_InitialQuotation]
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [FK_Media_Payment] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment] ([Id])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK_Media_Payment]
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [Media_DesignTemplate_FK] FOREIGN KEY([DesignTemplateId])
REFERENCES [dbo].[DesignTemplate] ([Id])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [Media_DesignTemplate_FK]
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [Media_SubTemplate_FK] FOREIGN KEY([SubTemplateId])
REFERENCES [dbo].[SubTemplate] ([Id])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [Media_SubTemplate_FK]
GO
ALTER TABLE [dbo].[Package]  WITH CHECK ADD  CONSTRAINT [FK_Package_PackageType] FOREIGN KEY([PackageTypeId])
REFERENCES [dbo].[PackageType] ([Id])
GO
ALTER TABLE [dbo].[Package] CHECK CONSTRAINT [FK_Package_PackageType]
GO
ALTER TABLE [dbo].[PackageDetail]  WITH CHECK ADD  CONSTRAINT [FK_PackageDetail_Package] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([Id])
GO
ALTER TABLE [dbo].[PackageDetail] CHECK CONSTRAINT [FK_PackageDetail_Package]
GO
ALTER TABLE [dbo].[PackageHouse]  WITH CHECK ADD  CONSTRAINT [FK_PackageHouse_DesignTemplate] FOREIGN KEY([DesignTemplateId])
REFERENCES [dbo].[DesignTemplate] ([Id])
GO
ALTER TABLE [dbo].[PackageHouse] CHECK CONSTRAINT [FK_PackageHouse_DesignTemplate]
GO
ALTER TABLE [dbo].[PackageHouse]  WITH CHECK ADD  CONSTRAINT [FK_PackageHouse_Package] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([Id])
GO
ALTER TABLE [dbo].[PackageHouse] CHECK CONSTRAINT [FK_PackageHouse_Package]
GO
ALTER TABLE [dbo].[PackageLabor]  WITH CHECK ADD  CONSTRAINT [FK_PackageLabor_Labor] FOREIGN KEY([LaborId])
REFERENCES [dbo].[Labor] ([Id])
GO
ALTER TABLE [dbo].[PackageLabor] CHECK CONSTRAINT [FK_PackageLabor_Labor]
GO
ALTER TABLE [dbo].[PackageLabor]  WITH CHECK ADD  CONSTRAINT [FK_PackageLabor_PackageDetail] FOREIGN KEY([PackageDetailId])
REFERENCES [dbo].[PackageDetail] ([Id])
GO
ALTER TABLE [dbo].[PackageLabor] CHECK CONSTRAINT [FK_PackageLabor_PackageDetail]
GO
ALTER TABLE [dbo].[PackageMapPromotion]  WITH CHECK ADD  CONSTRAINT [FK_PackageMapPromotion_Package] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([Id])
GO
ALTER TABLE [dbo].[PackageMapPromotion] CHECK CONSTRAINT [FK_PackageMapPromotion_Package]
GO
ALTER TABLE [dbo].[PackageMapPromotion]  WITH CHECK ADD  CONSTRAINT [FK_PackageMapPromotion_Promotion] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotion] ([Id])
GO
ALTER TABLE [dbo].[PackageMapPromotion] CHECK CONSTRAINT [FK_PackageMapPromotion_Promotion]
GO
ALTER TABLE [dbo].[PackageMaterial]  WITH CHECK ADD  CONSTRAINT [FK_PackageMaterial_MaterialSection] FOREIGN KEY([MaterialSectionId])
REFERENCES [dbo].[MaterialSection] ([Id])
GO
ALTER TABLE [dbo].[PackageMaterial] CHECK CONSTRAINT [FK_PackageMaterial_MaterialSection]
GO
ALTER TABLE [dbo].[PackageMaterial]  WITH CHECK ADD  CONSTRAINT [FK_PackageMaterial_PackageMaterial] FOREIGN KEY([PackageDetailId])
REFERENCES [dbo].[PackageDetail] ([Id])
GO
ALTER TABLE [dbo].[PackageMaterial] CHECK CONSTRAINT [FK_PackageMaterial_PackageMaterial]
GO
ALTER TABLE [dbo].[PackageQuotation]  WITH CHECK ADD  CONSTRAINT [FK_PackageQuotation_InitialQuotation] FOREIGN KEY([InitialQuotationId])
REFERENCES [dbo].[InitialQuotation] ([Id])
GO
ALTER TABLE [dbo].[PackageQuotation] CHECK CONSTRAINT [FK_PackageQuotation_InitialQuotation]
GO
ALTER TABLE [dbo].[PackageQuotation]  WITH CHECK ADD  CONSTRAINT [FK_PackageQuotation_Package] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([Id])
GO
ALTER TABLE [dbo].[PackageQuotation] CHECK CONSTRAINT [FK_PackageQuotation_Package]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentType] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentType] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentType]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Customer]
GO
ALTER TABLE [dbo].[QuotationItem]  WITH CHECK ADD  CONSTRAINT [QuotationItem_FinalQuotationItem_FK] FOREIGN KEY([FinalQuotationItemId])
REFERENCES [dbo].[FinalQuotationItem] ([Id])
GO
ALTER TABLE [dbo].[QuotationItem] CHECK CONSTRAINT [QuotationItem_FinalQuotationItem_FK]
GO
ALTER TABLE [dbo].[QuotationLabor]  WITH CHECK ADD  CONSTRAINT [FK_QuotationLabor_Labor] FOREIGN KEY([LaborId])
REFERENCES [dbo].[Labor] ([Id])
GO
ALTER TABLE [dbo].[QuotationLabor] CHECK CONSTRAINT [FK_QuotationLabor_Labor]
GO
ALTER TABLE [dbo].[QuotationLabor]  WITH CHECK ADD  CONSTRAINT [FK_QuotationLabor_QuotationItem] FOREIGN KEY([QuotationItemId])
REFERENCES [dbo].[QuotationItem] ([Id])
GO
ALTER TABLE [dbo].[QuotationLabor] CHECK CONSTRAINT [FK_QuotationLabor_QuotationItem]
GO
ALTER TABLE [dbo].[QuotationMaterial]  WITH CHECK ADD  CONSTRAINT [FK_QuotationMaterial_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[QuotationMaterial] CHECK CONSTRAINT [FK_QuotationMaterial_Material]
GO
ALTER TABLE [dbo].[QuotationMaterial]  WITH CHECK ADD  CONSTRAINT [FK_QuotationMaterial_QuotationItem] FOREIGN KEY([QuotationItemId])
REFERENCES [dbo].[QuotationItem] ([Id])
GO
ALTER TABLE [dbo].[QuotationMaterial] CHECK CONSTRAINT [FK_QuotationMaterial_QuotationItem]
GO
ALTER TABLE [dbo].[QuotationUtilities]  WITH CHECK ADD  CONSTRAINT [FK_QuotationUtilities_InitialQuotation] FOREIGN KEY([InitialQuotationId])
REFERENCES [dbo].[InitialQuotation] ([Id])
GO
ALTER TABLE [dbo].[QuotationUtilities] CHECK CONSTRAINT [FK_QuotationUtilities_InitialQuotation]
GO
ALTER TABLE [dbo].[QuotationUtilities]  WITH CHECK ADD  CONSTRAINT [FK_QuotationUtilities_UtilitiesItem] FOREIGN KEY([UtilitiesItemId])
REFERENCES [dbo].[UtilitiesItem] ([Id])
GO
ALTER TABLE [dbo].[QuotationUtilities] CHECK CONSTRAINT [FK_QuotationUtilities_UtilitiesItem]
GO
ALTER TABLE [dbo].[QuotationUtilities]  WITH CHECK ADD  CONSTRAINT [QuotationUtilities_FinalQuotation_FK] FOREIGN KEY([FinalQuotationId])
REFERENCES [dbo].[FinalQuotation] ([Id])
GO
ALTER TABLE [dbo].[QuotationUtilities] CHECK CONSTRAINT [QuotationUtilities_FinalQuotation_FK]
GO
ALTER TABLE [dbo].[SubConstructionItems]  WITH CHECK ADD  CONSTRAINT [FK_SubConstructionItems_ConstructionItems] FOREIGN KEY([ConstructionItemsId])
REFERENCES [dbo].[ConstructionItems] ([Id])
GO
ALTER TABLE [dbo].[SubConstructionItems] CHECK CONSTRAINT [FK_SubConstructionItems_ConstructionItems]
GO
ALTER TABLE [dbo].[SubTemplate]  WITH CHECK ADD  CONSTRAINT [FK_SubTemplate_DesignTemplate] FOREIGN KEY([DesignTemplateId])
REFERENCES [dbo].[DesignTemplate] ([Id])
GO
ALTER TABLE [dbo].[SubTemplate] CHECK CONSTRAINT [FK_SubTemplate_DesignTemplate]
GO
ALTER TABLE [dbo].[TemplateItem]  WITH CHECK ADD  CONSTRAINT [FK_TemplateItem_ConstructionItems] FOREIGN KEY([ConstructionItemId])
REFERENCES [dbo].[ConstructionItems] ([Id])
GO
ALTER TABLE [dbo].[TemplateItem] CHECK CONSTRAINT [FK_TemplateItem_ConstructionItems]
GO
ALTER TABLE [dbo].[TemplateItem]  WITH CHECK ADD  CONSTRAINT [FK_TemplateItem_SubTemplate] FOREIGN KEY([SubTemplateId])
REFERENCES [dbo].[SubTemplate] ([Id])
GO
ALTER TABLE [dbo].[TemplateItem] CHECK CONSTRAINT [FK_TemplateItem_SubTemplate]
GO
ALTER TABLE [dbo].[TemplateItem]  WITH CHECK ADD  CONSTRAINT [TemplateItem_SubConstructionItems_FK] FOREIGN KEY([SubConstructionId])
REFERENCES [dbo].[SubConstructionItems] ([Id])
GO
ALTER TABLE [dbo].[TemplateItem] CHECK CONSTRAINT [TemplateItem_SubConstructionItems_FK]
GO
ALTER TABLE [dbo].[UtilitiesItem]  WITH CHECK ADD  CONSTRAINT [FK_UltilitiesItem_UltilitiesSection] FOREIGN KEY([SectionId])
REFERENCES [dbo].[UtilitiesSection] ([Id])
GO
ALTER TABLE [dbo].[UtilitiesItem] CHECK CONSTRAINT [FK_UltilitiesItem_UltilitiesSection]
GO
ALTER TABLE [dbo].[UtilitiesSection]  WITH CHECK ADD  CONSTRAINT [FK_UltilitiesSection_Ultilities] FOREIGN KEY([UtilitiesId])
REFERENCES [dbo].[UtilityOption] ([Id])
GO
ALTER TABLE [dbo].[UtilitiesSection] CHECK CONSTRAINT [FK_UltilitiesSection_Ultilities]
GO
USE [master]
GO
