USE [master]
GO
/****** Object:  Database [RHCQS]    Script Date: 10/4/2024 11:46:25 PM ******/
CREATE DATABASE [RHCQS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RHCQS', FILENAME = N'/var/opt/mssql/data/RHCQS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RHCQS_log', FILENAME = N'/var/opt/mssql/data/RHCQS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RHCQS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RHCQS]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](60) NULL,
	[PhoneNumber] [nchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Deflag] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignTask]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignTask](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_AssignTask] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BactchPayment]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BactchPayment](
	[Id] [uniqueidentifier] NOT NULL,
	[ContractId] [uniqueidentifier] NOT NULL,
	[Price] [float] NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentPhase] [datetime] NULL,
	[IntitialQuotationId] [uniqueidentifier] NOT NULL,
	[Percents] [nvarchar](5) NULL,
	[InsDate] [datetime] NULL,
	[FinalQuotationId] [uniqueidentifier] NULL,
	[Description] [nvarchar](200) NULL,
	[Unit] [nvarchar](10) NULL,
 CONSTRAINT [PK_InstallmentPayment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[Heading] [nvarchar](max) NULL,
	[SubHeading] [nvarchar](max) NULL,
	[Context] [nvarchar](max) NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConstructionItems]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConstructionItems](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Coefficient] [float] NULL,
	[Unit] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_ConstructionItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[Id] [uniqueidentifier] NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[CustomerName] [nvarchar](50) NULL,
	[ContractCode] [nchar](10) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ValidityPeriod] [int] NULL,
	[TaxCode] [nvarchar](20) NULL,
	[Area] [float] NULL,
	[UnitPrice] [nvarchar](50) NULL,
	[ContractValue] [float] NULL,
	[UrlFile] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Deflag] [bit] NULL,
	[RoughPackagePrice] [float] NULL,
	[FinishedPackagePrice] [float] NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Contract] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](60) NULL,
	[PhoneNumber] [nchar](11) NULL,
	[DateOfBirth] [datetime] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Deflag] [bit] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DesignTemplate]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignTemplate](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[NumberOfFloor] [int] NULL,
	[NumberOfBed] [int] NULL,
	[NumberOfFront] [int] NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_DesignTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquimentItem]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquimentItem](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Unit] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[UnitOfMaterial] [float] NULL,
	[TotalOfMaterial] [float] NULL,
	[Note] [nchar](10) NULL,
	[FinalQuotationId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EquimentItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinalQuotation]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinalQuotation](
	[Id] [uniqueidentifier] NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
	[PromotionId] [uniqueidentifier] NULL,
	[TotalPrice] [float] NULL,
	[Note] [nvarchar](max) NULL,
	[Version] [float] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Deflag] [bit] NULL,
	[QuotationUtilitiesId] [uniqueidentifier] NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_OfficialQuotation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinalQuotationItem]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinalQuotationItem](
	[Id] [uniqueidentifier] NOT NULL,
	[FinalQuotationId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Unit] [nvarchar](50) NULL,
	[Weight] [nvarchar](50) NULL,
	[UnitPriceLabor] [float] NULL,
	[UnitPriceRough] [float] NULL,
	[UnitPriceFinished] [float] NULL,
	[TotalPriceLabor] [float] NULL,
	[TotalPriceRough] [float] NULL,
	[TotalPriceFinished] [float] NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_DetailedQuotationItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseDesignDrawing]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseDesignDrawing](
	[Id] [uniqueidentifier] NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Step] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[IsCompany] [bit] NULL,
	[InsDate] [datetime] NULL,
	[AssignTaskId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_HouseDesignDrawing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseDesignVersion]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseDesignVersion](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Version] [float] NULL,
	[Status] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
	[HouseDesignDrawingId] [uniqueidentifier] NULL,
	[Note] [nvarchar](max) NULL,
	[FileUrl] [nvarchar](max) NULL,
	[UpsDate] [datetime] NULL,
	[RelatedDrawingId] [uniqueidentifier] NULL,
	[PreviousDrawingId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_HouseDesignVersion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InitialQuotation]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InitialQuotation](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
	[PromotionId] [uniqueidentifier] NULL,
	[Area] [float] NULL,
	[TimeProcessing] [int] NULL,
	[TimeRough] [int] NULL,
	[TimeOthers] [int] NULL,
	[OthersAgreement] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Version] [float] NOT NULL,
	[IsTemplate] [bit] NULL,
	[Deflag] [bit] NULL,
	[Note] [nvarchar](max) NULL,
	[TotalRough] [float] NULL,
	[TotalUtilities] [float] NULL,
	[Unit] [nvarchar](5) NULL,
 CONSTRAINT [PK_PreliminaryQuotation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InitialQuotationItem]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InitialQuotationItem](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ConstructionItemId] [uniqueidentifier] NOT NULL,
	[SubConstructionId] [uniqueidentifier] NULL,
	[Area] [float] NULL,
	[Price] [float] NULL,
	[UnitPrice] [nvarchar](10) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[InitialQuotationId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_InitialQuotationItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Labor]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Labor](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [float] NULL,
	[Quantity] [int] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Deflag] [bit] NULL,
 CONSTRAINT [PK_Labor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [uniqueidentifier] NOT NULL,
	[SupplierId] [uniqueidentifier] NOT NULL,
	[MaterialTypeId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[InventoryQuantity] [int] NULL,
	[Price] [float] NULL,
	[Unit] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[Shape] [nvarchar](50) NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[UnitPrice] [nvarchar](50) NULL,
	[IsAvailable] [bit] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialSection]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialSection](
	[Id] [uniqueidentifier] NOT NULL,
	[MaterialId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_MaterialSection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Deflag] [bit] NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[Id] [uniqueidentifier] NOT NULL,
	[HouseDesignDrawingId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Url] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
 CONSTRAINT [PK_Media] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[Id] [uniqueidentifier] NOT NULL,
	[Sender] [nvarchar](50) NULL,
	[Reciver] [nvarchar](50) NULL,
	[Context] [nvarchar](max) NULL,
	[Time] [datetime] NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[Id] [uniqueidentifier] NOT NULL,
	[PackageTypeId] [uniqueidentifier] NOT NULL,
	[PackageName] [nvarchar](100) NULL,
	[Unit] [nvarchar](20) NULL,
	[Price] [float] NULL,
	[Status] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
 CONSTRAINT [PK_Package] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageDetail]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
	[Action] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_PackageDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageHouse]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageHouse](
	[Id] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
	[DesignTemplateId] [uniqueidentifier] NOT NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_PackageHouse] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageLabor]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageLabor](
	[Id] [uniqueidentifier] NOT NULL,
	[PackageDetailId] [uniqueidentifier] NOT NULL,
	[LaborId] [uniqueidentifier] NOT NULL,
	[Price] [float] NULL,
	[Quantity] [int] NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_PackageLabor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageMaterial]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageMaterial](
	[Id] [uniqueidentifier] NOT NULL,
	[MaterialSectionId] [uniqueidentifier] NOT NULL,
	[PackageDetailId] [uniqueidentifier] NOT NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_PackageMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageQuotation]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageQuotation](
	[Id] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
	[InitialQuotationId] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_PackageQuotation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageType]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_PackageType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Id] [uniqueidentifier] NOT NULL,
	[PaymentTypeId] [uniqueidentifier] NOT NULL,
	[BatchPaymentId] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Type] [nvarchar](100) NULL,
	[TotalPrice] [float] NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[ProjectCode] [nchar](5) NULL,
	[Address] [nvarchar](max) NULL,
	[Area] [float] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nchar](10) NULL,
	[Value] [int] NULL,
	[AvailableTime] [datetime] NULL,
	[InsDate] [datetime] NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK_Promotion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationItem]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationItem](
	[Id] [uniqueidentifier] NOT NULL,
	[QuotationSectionId] [uniqueidentifier] NOT NULL,
	[ProjectComponent] [nvarchar](100) NULL,
	[Area] [float] NULL,
	[Unit] [nvarchar](50) NULL,
	[Coefficient] [float] NULL,
	[Weight] [float] NULL,
	[LaborCost] [float] NULL,
	[MaterialPrice] [float] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
 CONSTRAINT [PK_QuotationItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationLabor]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationLabor](
	[Id] [uniqueidentifier] NOT NULL,
	[QuotationItemId] [uniqueidentifier] NOT NULL,
	[LaborId] [uniqueidentifier] NOT NULL,
	[LaborPrice] [float] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_QuotationLabor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationMaterial]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationMaterial](
	[Id] [uniqueidentifier] NOT NULL,
	[QuotationItemId] [uniqueidentifier] NOT NULL,
	[MaterialId] [uniqueidentifier] NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[MaterialPrice] [float] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_QuotationMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationSection]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationSection](
	[Id] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Note] [nvarchar](max) NULL,
	[ContractionTime] [int] NULL,
 CONSTRAINT [PK_QuotationSection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationUtilities]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationUtilities](
	[Id] [uniqueidentifier] NOT NULL,
	[UltilitiesItemId] [uniqueidentifier] NOT NULL,
	[FinalQuotationId] [uniqueidentifier] NULL,
	[InitialQuotationId] [uniqueidentifier] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Coefiicient] [float] NULL,
	[Price] [float] NULL,
	[Description] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
 CONSTRAINT [PK_UltilitiesDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubConstructionItems]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubConstructionItems](
	[Id] [uniqueidentifier] NOT NULL,
	[ConstructionItemsId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Coefficient] [float] NULL,
	[Unit] [nchar](10) NULL,
	[InsDate] [datetime] NULL,
 CONSTRAINT [PK_RoughCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubTemplate]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubTemplate](
	[Id] [uniqueidentifier] NOT NULL,
	[DesignTemplateId] [uniqueidentifier] NOT NULL,
	[BuildingArea] [float] NULL,
	[FloorArea] [float] NULL,
	[InsDate] [datetime] NULL,
	[Size] [nchar](9) NULL,
 CONSTRAINT [PK_SubTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[ConstractPhone] [nvarchar](11) NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Deflag] [bit] NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemplateItem]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateItem](
	[Id] [uniqueidentifier] NOT NULL,
	[SubTemplateId] [uniqueidentifier] NOT NULL,
	[ConstructionItemId] [uniqueidentifier] NOT NULL,
	[Area] [float] NULL,
	[Unit] [nvarchar](20) NULL,
	[InsDate] [datetime] NULL,
	[SubConstructionId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TemplateItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilities]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilities](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
 CONSTRAINT [PK_Ultilities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UtilitiesItem]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtilitiesItem](
	[Id] [uniqueidentifier] NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Coefficient] [float] NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
 CONSTRAINT [PK_UltilitiesItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UtilitiesSection]    Script Date: 10/4/2024 11:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtilitiesSection](
	[Id] [uniqueidentifier] NOT NULL,
	[UltilitiesId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[InsDate] [datetime] NULL,
	[UpsDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_UltilitiesSection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Id], [RoleId], [Email], [Username], [ImageUrl], [PasswordHash], [PhoneNumber], [DateOfBirth], [InsDate], [UpsDate], [Deflag]) VALUES (N'990773a2-1817-47f5-9116-301e97435c44', N'7af0d75e-1157-48b4-899d-3196deed5fad', N'design2rhcqs@gmail.com', N'Huy', N'https://cellphones.com.vn/sforum/wp-content/uploads/2024/02/avatar-anh-meo-cute-5.jpg', N'$2a$12$UUBeF1uXFz9fDVrTFnGFy.Ea7TV2MiRR9BR3DzIxrIXUOlUo3lqpO', N'0902579392', CAST(N'2002-01-01' AS Date), CAST(N'2024-09-26T14:30:00.000' AS DateTime), CAST(N'2024-09-26T14:30:00.000' AS DateTime), 1)
INSERT [dbo].[Account] ([Id], [RoleId], [Email], [Username], [ImageUrl], [PasswordHash], [PhoneNumber], [DateOfBirth], [InsDate], [UpsDate], [Deflag]) VALUES (N'bf339e88-5303-45c4-a6f4-33a79681766c', N'7af0d75e-1157-48b4-899d-3196deed5fad', N'design1rhcqs@gmail.com', N'design1rhcqs@gmail.com', N'https://inkythuatso.com/uploads/thumbnails/800/2022/05/anh-meo-che-anh-meo-bua-15-31-09-19-00.jpg', N'$2a$12$LqFux1Fe.MrFYw9JhwUAAuy2E.uLQTSS17cEyGQGMgZ4TYK38eykK', N'0586617799', NULL, CAST(N'2024-09-29T06:02:39.183' AS DateTime), CAST(N'2024-09-29T06:02:39.183' AS DateTime), 1)
INSERT [dbo].[Account] ([Id], [RoleId], [Email], [Username], [ImageUrl], [PasswordHash], [PhoneNumber], [DateOfBirth], [InsDate], [UpsDate], [Deflag]) VALUES (N'0be1eb2e-f31d-476c-800f-3a6e67ee2b08', N'789dd57d-0f75-40d1-8366-ef6ab582efc8', N'test', N'test', N'https://sieupet.com/sites/default/files/hinh_anh_meo_dep.jpg', N'$2a$12$ykiFtNtHI4JM7CZtpQRG3u5pGpXzDnjBRcY36sRvUzKd6FL0aTvLS', N'0828253777', NULL, CAST(N'2024-10-02T16:31:39.813' AS DateTime), CAST(N'2024-10-02T16:31:39.813' AS DateTime), 1)
GO
INSERT [dbo].[AssignTask] ([Id], [AccountId], [Name], [Status], [InsDate]) VALUES (N'47f6b73e-8ecf-4505-83c8-0bdcb6668bfd', N'28247cd1-67ca-439d-bef5-fca9a9a777c5', N'', N'Pending', CAST(N'2024-10-01T13:33:24.847' AS DateTime))
INSERT [dbo].[AssignTask] ([Id], [AccountId], [Name], [Status], [InsDate]) VALUES (N'643f3138-4fa1-433b-8bde-205291c54b3a', N'990773a2-1817-47f5-9116-301e97435c44', N'Huy', N'Pending', NULL)
INSERT [dbo].[AssignTask] ([Id], [AccountId], [Name], [Status], [InsDate]) VALUES (N'9b46d8cd-7729-4779-a656-3e96f275df0b', N'45bced7f-0432-40dd-9686-91f8cc1c90dc', N'', N'Pending', CAST(N'2024-10-01T13:33:24.860' AS DateTime))
GO
INSERT [dbo].[BactchPayment] ([Id], [ContractId], [Price], [PaymentDate], [PaymentPhase], [IntitialQuotationId], [Percents], [InsDate], [FinalQuotationId], [Description], [Unit]) VALUES (N'd165e833-2e68-45ad-a657-a222d01e205c', N'9d864292-9768-46d4-82f5-6b26cb1b9a3f', 15000000, CAST(N'2024-11-04T12:40:31.853' AS DateTime), CAST(N'2024-11-11T12:40:31.853' AS DateTime), N'bd31c4e5-e549-42ea-aec7-0f08446f089d', N'50', CAST(N'2024-11-04T12:40:31.853' AS DateTime), NULL, N'Đợt 1 thanh toán 50%', N'VNĐ')
INSERT [dbo].[BactchPayment] ([Id], [ContractId], [Price], [PaymentDate], [PaymentPhase], [IntitialQuotationId], [Percents], [InsDate], [FinalQuotationId], [Description], [Unit]) VALUES (N'9f29dc1f-c94d-4078-94ad-b3ebf48a6f8a', N'9d864292-9768-46d4-82f5-6b26cb1b9a3f', 15000000, CAST(N'2024-12-01T12:40:31.853' AS DateTime), CAST(N'2024-12-08T12:40:31.853' AS DateTime), N'bd31c4e5-e549-42ea-aec7-0f08446f089d', N'50', CAST(N'2024-11-04T12:40:31.853' AS DateTime), NULL, N'Đợt 2 thanh toán 50% nghiệm thu bản vẽ thiết kế', N'VNĐ')
GO
INSERT [dbo].[ConstructionItems] ([Id], [Name], [Coefficient], [Unit], [InsDate], [UpsDate], [Type]) VALUES (N'15b85094-21a2-46e7-95aa-0fba6890ae36', N'Thông Tầng lầu 4', 0, N'm2', CAST(N'2024-09-27T15:35:37.630' AS DateTime), CAST(N'2024-09-27T15:35:37.630' AS DateTime), N'ROUGH')
INSERT [dbo].[ConstructionItems] ([Id], [Name], [Coefficient], [Unit], [InsDate], [UpsDate], [Type]) VALUES (N'40aa0395-a4ef-423c-91f2-11d2889dc306', N'Thông Tầng lầu 1', 0, N'm2', CAST(N'2024-09-27T15:34:23.203' AS DateTime), CAST(N'2024-09-27T15:34:23.203' AS DateTime), N'ROUGH')
INSERT [dbo].[ConstructionItems] ([Id], [Name], [Coefficient], [Unit], [InsDate], [UpsDate], [Type]) VALUES (N'75922602-9153-4cc3-a7dc-225c9bc30a5e', N'Móng', 0, N'm2', CAST(N'2024-09-27T21:37:09.000' AS DateTime), CAST(N'2024-09-27T21:37:09.000' AS DateTime), N'ROUGH')
GO
INSERT [dbo].[Contract] ([Id], [ProjectId], [Name], [CustomerName], [ContractCode], [StartDate], [EndDate], [ValidityPeriod], [TaxCode], [Area], [UnitPrice], [ContractValue], [UrlFile], [Note], [Deflag], [RoughPackagePrice], [FinishedPackagePrice], [Status]) VALUES (N'9d864292-9768-46d4-82f5-6b26cb1b9a3f', N'b81935a8-4482-43f5-ad68-558abde58d58', N'Hợp đồng tư vấn và thiết kế kiến trúc', N'Đồ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Draft')
GO
INSERT [dbo].[Customer] ([Id], [Email], [Username], [ImgUrl], [PasswordHash], [PhoneNumber], [DateOfBirth], [InsDate], [UpsDate], [Deflag]) VALUES (N'2fcb2c45-4dcc-4f3a-8fe4-1d2ee48fa931', N'ngandolh@gmail.com', N'Đồ', NULL, NULL, N'0901342922 ', CAST(N'2002-01-01T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Customer] ([Id], [Email], [Username], [ImgUrl], [PasswordHash], [PhoneNumber], [DateOfBirth], [InsDate], [UpsDate], [Deflag]) VALUES (N'1e6fa320-6945-4b76-8426-ad6dfdb1ad74', N'nganttk002@gmail.com', N'Trần Ngân', NULL, NULL, N'0906697051 ', CAST(N'2002-01-01T00:00:00.000' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[DesignTemplate] ([Id], [Name], [Description], [NumberOfFloor], [NumberOfBed], [NumberOfFront], [ImgUrl], [InsDate]) VALUES (N'7af799a9-02fa-4cd0-b954-86b102840e60', N'Mẫu 1', N'Mẫu nhà ở nông thôn', 1, 2, NULL, N'https://res.cloudinary.com/de7pulfdj/image/upload/v1727632275/doowmllpuglxti4lnipq.png', NULL)
INSERT [dbo].[DesignTemplate] ([Id], [Name], [Description], [NumberOfFloor], [NumberOfBed], [NumberOfFront], [ImgUrl], [InsDate]) VALUES (N'335252c2-f710-430f-ab14-a1412ee29237', N'Mẫu 3', N'Mẫu 3', 1, 2, NULL, N'https://res.cloudinary.com/de7pulfdj/image/upload/v1727632424/mxhtfrqgja9nwjhwhusl.png', NULL)
INSERT [dbo].[DesignTemplate] ([Id], [Name], [Description], [NumberOfFloor], [NumberOfBed], [NumberOfFront], [ImgUrl], [InsDate]) VALUES (N'ec6d9970-ea66-455a-8815-dd69d72ff97f', N'Mẫu 2', N'Mẫu 2', 1, 2, NULL, N'https://res.cloudinary.com/de7pulfdj/image/upload/v1727632470/ozithihga2joj5ofjc79.png', NULL)
GO
INSERT [dbo].[FinalQuotation] ([Id], [ProjectId], [PromotionId], [TotalPrice], [Note], [Version], [InsDate], [UpsDate], [Status], [Deflag], [QuotationUtilitiesId], [AccountId]) VALUES (N'04cb9c6f-cf0c-4fa7-9565-4c3b4166c6f9', N'fa91e187-b0c8-46c3-b6d5-747d32bd3540', NULL, 1123500000, NULL, 1, CAST(N'2024-09-29T10:00:00.000' AS DateTime), CAST(N'2024-09-29T10:00:00.000' AS DateTime), N'Proccessing', 1, NULL, N'd63a2a80-cdea-46df-8419-e5c70a7632ee')
GO
INSERT [dbo].[HouseDesignDrawing] ([Id], [ProjectId], [Name], [Step], [Status], [Type], [IsCompany], [InsDate], [AssignTaskId]) VALUES (N'4135dfce-55e0-4370-b453-2d438e96dbbb', N'fa91e187-b0c8-46c3-b6d5-747d32bd3540', N'Phối cảnh', 1, N'Proccessing', N'PHOICANH', 0, CAST(N'2024-09-30T12:34:56.000' AS DateTime), N'1cad86ac-8972-42c1-812b-50b03c9450f8')
INSERT [dbo].[HouseDesignDrawing] ([Id], [ProjectId], [Name], [Step], [Status], [Type], [IsCompany], [InsDate], [AssignTaskId]) VALUES (N'23dba73e-5fa5-479e-b143-5e1c4150295f', N'c64e1637-635b-4d03-a68e-ed5f81d3fd57', N'Điện & nước', 4, N'Pending', N'DIENNUOC', 0, CAST(N'2024-10-01T10:12:05.523' AS DateTime), N'9b46d8cd-7729-4779-a656-3e96f275df0b')
INSERT [dbo].[HouseDesignDrawing] ([Id], [ProjectId], [Name], [Step], [Status], [Type], [IsCompany], [InsDate], [AssignTaskId]) VALUES (N'b528f8bc-3992-499b-af7d-67510d730087', N'c64e1637-635b-4d03-a68e-ed5f81d3fd57', N'Phối cảnh', 1, N'Proccessing', N'PHOICANH', 0, CAST(N'2024-10-01T10:11:50.990' AS DateTime), N'7c42029a-f7a0-48e4-80fd-81b3c0afbf22')
GO
INSERT [dbo].[HouseDesignVersion] ([Id], [Name], [Version], [Status], [InsDate], [HouseDesignDrawingId], [Note], [FileUrl], [UpsDate], [RelatedDrawingId], [PreviousDrawingId]) VALUES (N'3905068b-8e24-4fc1-8663-a6697903de08', N'Phối cảnh', 1, N'Finished', CAST(N'2024-09-30T12:34:56.000' AS DateTime), N'4135dfce-55e0-4370-b453-2d438e96dbbb', N'Sửa cửa chính và cửa phụ 2', N'https://i1-kinhdoanh.vnecdn.net/2024/10/01/dien-gio-ngoai-jpeg-3688-16383-4247-2437-1727785076.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=W7nRN5_GjYwxdfYkdVYPiw', NULL, NULL, NULL)
INSERT [dbo].[HouseDesignVersion] ([Id], [Name], [Version], [Status], [InsDate], [HouseDesignDrawingId], [Note], [FileUrl], [UpsDate], [RelatedDrawingId], [PreviousDrawingId]) VALUES (N'2e7a32d9-5ffb-4cca-b866-f03f67da256d', N'Phối cảnh', 2, N'Finished', CAST(N'2024-09-30T12:34:56.000' AS DateTime), N'4135dfce-55e0-4370-b453-2d438e96dbbb', NULL, N'http://res.cloudinary.com/de7pulfdj/image/upload/v1728019936/HouseDesignDrawing/Phối cảnh_210/4/2024 12:32:10 PM.png', CAST(N'2024-10-04T12:32:17.987' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[InitialQuotation] ([Id], [AccountId], [ProjectId], [PromotionId], [Area], [TimeProcessing], [TimeRough], [TimeOthers], [OthersAgreement], [InsDate], [Status], [Version], [IsTemplate], [Deflag], [Note], [TotalRough], [TotalUtilities], [Unit]) VALUES (N'bd31c4e5-e549-42ea-aec7-0f08446f089d', N'd63a2a80-cdea-46df-8419-e5c70a7632ee', N'b81935a8-4482-43f5-ad68-558abde58d58', N'41b828b2-7b06-4389-9003-daac937158dd', 125, NULL, NULL, NULL, NULL, CAST(N'2024-10-04T12:40:31.853' AS DateTime), N'Pending', 1, 0, 1, NULL, 1500000000, 20000000, N'VNĐ')
INSERT [dbo].[InitialQuotation] ([Id], [AccountId], [ProjectId], [PromotionId], [Area], [TimeProcessing], [TimeRough], [TimeOthers], [OthersAgreement], [InsDate], [Status], [Version], [IsTemplate], [Deflag], [Note], [TotalRough], [TotalUtilities], [Unit]) VALUES (N'27303a9e-c1ff-4060-a145-bad032564a0a', N'd63a2a80-cdea-46df-8419-e5c70a7632ee', N'eac91a0b-baae-4e00-a21f-f4d05153f447', NULL, 125, NULL, NULL, NULL, NULL, CAST(N'2024-10-04T00:17:13.637' AS DateTime), N'Pending', 1, 0, 1, NULL, 1500000000, 10000000, N'VNĐ')
GO
INSERT [dbo].[InitialQuotationItem] ([Id], [Name], [ConstructionItemId], [SubConstructionId], [Area], [Price], [UnitPrice], [InsDate], [UpsDate], [InitialQuotationId]) VALUES (N'8946f6e3-32d3-4621-8e43-05db32ffa305', N'Sân', N'75c3e21a-0abd-4699-abbe-c8371ed4d49a', NULL, 101.4, NULL, N'đ', CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime), N'f6f03971-5a01-47ce-869a-c3f63d70fbb9')
INSERT [dbo].[InitialQuotationItem] ([Id], [Name], [ConstructionItemId], [SubConstructionId], [Area], [Price], [UnitPrice], [InsDate], [UpsDate], [InitialQuotationId]) VALUES (N'5ca9cb47-d260-4486-9b82-4df29af1bfbc', N'Lầu 2', N'22fc6201-3f75-4f4f-8a51-9bf25b2b13c3', NULL, 132.27, NULL, N'đ', CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime), N'f6f03971-5a01-47ce-869a-c3f63d70fbb9')
INSERT [dbo].[InitialQuotationItem] ([Id], [Name], [ConstructionItemId], [SubConstructionId], [Area], [Price], [UnitPrice], [InsDate], [UpsDate], [InitialQuotationId]) VALUES (N'83ad2005-cf26-41a5-9756-586f0f2e256b', N'', N'75922602-9153-4cc3-a7dc-225c9bc30a5e', N'06ff2d3d-2f14-4acc-ba2e-0c4ee659ca81', 49.5, 66330000, N'đ', CAST(N'2024-10-04T00:17:13.733' AS DateTime), CAST(N'2024-10-04T00:17:13.733' AS DateTime), N'27303a9e-c1ff-4060-a145-bad032564a0a')
GO
INSERT [dbo].[MaterialType] ([Id], [Name], [InsDate], [UpsDate], [Deflag]) VALUES (N'aa61efd9-482d-4ae8-86c5-8f096c2cd064', N'Thép', NULL, NULL, 1)
GO
INSERT [dbo].[Package] ([Id], [PackageTypeId], [PackageName], [Unit], [Price], [Status], [InsDate], [UpsDate]) VALUES (N'3f58eafc-772e-4d14-9adc-04e0736bdf2c', N'e4f968ed-74b2-4164-a8be-3f83220be61d', N'Gói tiết kiệm', N'm2', 3350000, N'Active', CAST(N'2024-09-29T10:00:00.000' AS DateTime), CAST(N'2024-09-29T10:00:00.000' AS DateTime))
INSERT [dbo].[Package] ([Id], [PackageTypeId], [PackageName], [Unit], [Price], [Status], [InsDate], [UpsDate]) VALUES (N'0bfb83dd-04af-4f8c-a6d0-2cd8ee1ff0f5', N'313b205d-8dbd-438c-9935-8b460f3b7237', N'Gói tiêu chuẩn', N'm2', 3450000, N'Active', CAST(N'2024-10-03T10:00:00.000' AS DateTime), CAST(N'2024-10-03T10:00:00.000' AS DateTime))
INSERT [dbo].[Package] ([Id], [PackageTypeId], [PackageName], [Unit], [Price], [Status], [InsDate], [UpsDate]) VALUES (N'02f9265e-e0aa-4809-9230-395f312847cf', N'313b205d-8dbd-438c-9935-8b460f3b7237', N'Gói nâng cao', N'm2', 1800000, N'Active', CAST(N'2024-10-03T10:00:00.000' AS DateTime), CAST(N'2024-10-03T10:00:00.000' AS DateTime))
GO
INSERT [dbo].[PackageQuotation] ([Id], [PackageId], [InitialQuotationId], [Type], [InsDate]) VALUES (N'c4ea8d68-5cb9-4bc2-af8b-13d56efcdb61', N'0bfb83dd-04af-4f8c-a6d0-2cd8ee1ff0f5', N'bd31c4e5-e549-42ea-aec7-0f08446f089d', N'FINISHED', CAST(N'2024-10-04T12:40:31.893' AS DateTime))
INSERT [dbo].[PackageQuotation] ([Id], [PackageId], [InitialQuotationId], [Type], [InsDate]) VALUES (N'9a7103d9-f2f1-4a21-90f7-2955a792e8b0', N'59f5fd78-b895-4d60-934a-4727c219b2d9', N'bd31c4e5-e549-42ea-aec7-0f08446f089d', N'ROUGH', CAST(N'2024-10-04T12:40:31.887' AS DateTime))
INSERT [dbo].[PackageQuotation] ([Id], [PackageId], [InitialQuotationId], [Type], [InsDate]) VALUES (N'57588302-7e06-47ba-9b22-44a938e54471', N'3f58eafc-772e-4d14-9adc-04e0736bdf2c', N'f6f03971-5a01-47ce-869a-c3f63d70fbb9', N'ROUGH', CAST(N'2024-09-29T10:00:00.000' AS DateTime))
GO
INSERT [dbo].[PackageType] ([Id], [Name], [InsDate]) VALUES (N'e4f968ed-74b2-4164-a8be-3f83220be61d', N'Rough', NULL)
INSERT [dbo].[PackageType] ([Id], [Name], [InsDate]) VALUES (N'313b205d-8dbd-438c-9935-8b460f3b7237', N'Finished', NULL)
GO
INSERT [dbo].[Project] ([Id], [CustomerId], [Name], [Type], [Status], [InsDate], [UpsDate], [ProjectCode], [Address], [Area]) VALUES (N'b81935a8-4482-43f5-ad68-558abde58d58', N'1e6fa320-6945-4b76-8426-ad6dfdb1ad74', N'Báo giá sơ bộ 10/4/2024 12:40:31 PM', N'ALL', N'Processing', CAST(N'2024-10-04T12:40:31.807' AS DateTime), CAST(N'2024-10-04T12:40:31.807' AS DateTime), N'7IUXJ', N'382 D2, Phường Tân Phú, TP.Thủ Đức', 125)
INSERT [dbo].[Project] ([Id], [CustomerId], [Name], [Type], [Status], [InsDate], [UpsDate], [ProjectCode], [Address], [Area]) VALUES (N'fa91e187-b0c8-46c3-b6d5-747d32bd3540', N'2fcb2c45-4dcc-4f3a-8fe4-1d2ee48fa931', N'Dự án báo giá 09-26-2024', N'ALL', N'Processing', CAST(N'2024-09-26T14:30:00.000' AS DateTime), CAST(N'2024-09-26T14:30:00.000' AS DateTime), N'R84GH', N'45/3 Đường Dương Đình Hội, Phường Phước Long B, Quận 9, TP. Thủ Đức', 252)
INSERT [dbo].[Project] ([Id], [CustomerId], [Name], [Type], [Status], [InsDate], [UpsDate], [ProjectCode], [Address], [Area]) VALUES (N'799b9201-d234-47b9-a14f-7574cc84ef74', N'1e6fa320-6945-4b76-8426-ad6dfdb1ad74', N'Báo giá sơ bộ 10/4/2024 1:24:43 AM', N'ALL', N'Processing', CAST(N'2024-10-04T01:24:43.810' AS DateTime), CAST(N'2024-10-04T01:24:43.810' AS DateTime), N'4PWUI', N'382 D2, Phường Tân Phú, TP.Thủ Đức', 125)
GO
INSERT [dbo].[Promotion] ([Id], [Code], [Value], [AvailableTime], [InsDate], [Name]) VALUES (N'41b828b2-7b06-4389-9003-daac937158dd', NULL, 10, NULL, NULL, N'Giảm 10% cho khách hàng may mắn')
GO
INSERT [dbo].[QuotationUtilities] ([Id], [UltilitiesItemId], [FinalQuotationId], [InitialQuotationId], [Name], [Coefiicient], [Price], [Description], [InsDate], [UpsDate]) VALUES (N'7cb191cf-3578-40c2-9490-2364d9516622', N'2ec103aa-aa83-4d58-9e85-22a6247f4cd6', NULL, N'27303a9e-c1ff-4060-a145-bad032564a0a', N'', 0.05, 110617000, N'Sàn từ 30m2 ~ 40m2', CAST(N'2024-10-04T00:17:13.770' AS DateTime), CAST(N'2024-10-04T00:17:13.770' AS DateTime))
INSERT [dbo].[QuotationUtilities] ([Id], [UltilitiesItemId], [FinalQuotationId], [InitialQuotationId], [Name], [Coefiicient], [Price], [Description], [InsDate], [UpsDate]) VALUES (N'80d56366-12b5-4a1c-8b00-3e9d9a08d8e6', N'2ec103aa-aa83-4d58-9e85-22a6247f4cd6', NULL, N'bd31c4e5-e549-42ea-aec7-0f08446f089d', N'', 0.05, 110617000, N'Sàn từ 30m2 ~ 40m2', CAST(N'2024-10-04T12:40:31.910' AS DateTime), CAST(N'2024-10-04T12:40:31.910' AS DateTime))
GO
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (N'9959ce96-de26-40a7-b8a7-28a704062e89', N'SalesStaff')
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (N'7af0d75e-1157-48b4-899d-3196deed5fad', N'DesignStaff')
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (N'a3bb42ca-de7c-4c9f-8f58-d8175f96688c', N'Manager')
GO
INSERT [dbo].[SubConstructionItems] ([Id], [ConstructionItemsId], [Name], [Coefficient], [Unit], [InsDate]) VALUES (N'3b097855-0c93-4955-a25c-062abd15cf74', N'd8f3d72b-042f-4108-b9ea-3f93666921d2', N'Mái Ngói Kèo Thép (nghiêng 30 độ)', 0.91, N'm2        ', CAST(N'2024-09-27T21:37:09.000' AS DateTime))
INSERT [dbo].[SubConstructionItems] ([Id], [ConstructionItemsId], [Name], [Coefficient], [Unit], [InsDate]) VALUES (N'f3d73d84-c6c5-47e3-9826-075db344d1ec', N'6aa8e2fc-370e-4e6c-8269-d22d2c060e65', N'Thông tầng < 8m2', 1, N'm2        ', CAST(N'2024-09-27T15:35:48.480' AS DateTime))
INSERT [dbo].[SubConstructionItems] ([Id], [ConstructionItemsId], [Name], [Coefficient], [Unit], [InsDate]) VALUES (N'becab190-4935-4975-81d6-08630e7df54b', N'15b85094-21a2-46e7-95aa-0fba6890ae36', N'Thông tầng < 8m2', 1, N'm2        ', CAST(N'2024-09-27T15:35:37.633' AS DateTime))
GO
INSERT [dbo].[SubTemplate] ([Id], [DesignTemplateId], [BuildingArea], [FloorArea], [InsDate], [Size]) VALUES (N'420e61d1-cd1f-4d90-8e93-1c2eee62f086', N'ec6d9970-ea66-455a-8815-dd69d72ff97f', 390.207, 120, NULL, N'R8 x D15 ')
INSERT [dbo].[SubTemplate] ([Id], [DesignTemplateId], [BuildingArea], [FloorArea], [InsDate], [Size]) VALUES (N'bcf7b1e4-1cf5-42c2-958c-3f05e3c4ce68', N'335252c2-f710-430f-ab14-a1412ee29237', 417.8, 130, NULL, N'R10 x D13')
INSERT [dbo].[SubTemplate] ([Id], [DesignTemplateId], [BuildingArea], [FloorArea], [InsDate], [Size]) VALUES (N'7f3c7712-139a-4444-8a3c-79fc3831259f', N'ec6d9970-ea66-455a-8815-dd69d72ff97f', 436.663, 135, NULL, N'R9 x D15 ')
GO
INSERT [dbo].[Supplier] ([Id], [Name], [Email], [ConstractPhone], [ImgUrl], [InsDate], [UpsDate], [Deflag], [ShortDescription], [Description]) VALUES (N'7d7a584c-1ad5-4a91-898b-0166748b0abb', N'Việt-Nhật', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[TemplateItem] ([Id], [SubTemplateId], [ConstructionItemId], [Area], [Unit], [InsDate], [SubConstructionId]) VALUES (N'56154fda-125e-4610-ad17-027c1c3ae2d2', N'd4afdc22-a07a-486f-b521-a9068d391821', N'75c3e21a-0abd-4699-abbe-c8371ed4d49a', 2.4192, N'm2', NULL, NULL)
INSERT [dbo].[TemplateItem] ([Id], [SubTemplateId], [ConstructionItemId], [Area], [Unit], [InsDate], [SubConstructionId]) VALUES (N'9378f67c-1054-4702-9791-06aaa254ab47', N'bcf7b1e4-1cf5-42c2-958c-3f05e3c4ce68', N'75922602-9153-4cc3-a7dc-225c9bc30a5e', 78, N'm2', NULL, N'287f222c-2d3b-4445-900c-2a32101bec00')
INSERT [dbo].[TemplateItem] ([Id], [SubTemplateId], [ConstructionItemId], [Area], [Unit], [InsDate], [SubConstructionId]) VALUES (N'09f46d40-ade0-48a4-84aa-0728f794f2dd', N'719365ed-a384-4521-a0d0-b0feb7236e98', N'75922602-9153-4cc3-a7dc-225c9bc30a5e', 48, N'm2', NULL, N'dbd38b0a-9263-4e52-a23a-35648ca4581d')
GO
INSERT [dbo].[Utilities] ([Id], [Name], [Type], [Status], [InsDate], [UpsDate]) VALUES (N'04f30a66-9758-45db-88a7-6f098edc4837', N'Dịch vụ tiện ích thêm', NULL, N'Active', CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime))
INSERT [dbo].[Utilities] ([Id], [Name], [Type], [Status], [InsDate], [UpsDate]) VALUES (N'2367dec1-e649-4549-b81b-701f2dbc1a7b', N'Nâng cao chất lượng phần thô', N'ROUGH', N'Active', CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime))
INSERT [dbo].[Utilities] ([Id], [Name], [Type], [Status], [InsDate], [UpsDate]) VALUES (N'05430765-97fe-4186-900d-d5dc850e8cdb', N'Tiện ích công trình', NULL, N'Active', CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime))
GO
INSERT [dbo].[UtilitiesItem] ([Id], [SectionId], [Name], [Coefficient], [InsDate], [UpsDate]) VALUES (N'baba9651-91ee-40a2-a824-0b90f861b72e', N'8d94e702-1a40-4316-815c-1668ab01d7d6', N'Hẻm < 2m', 0.05, CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime))
INSERT [dbo].[UtilitiesItem] ([Id], [SectionId], [Name], [Coefficient], [InsDate], [UpsDate]) VALUES (N'8f17e0a9-6192-4155-a360-165073ce598d', N'8d94e702-1a40-4316-815c-1668ab01d7d6', N'Hẻm 2m - 3m', 0.04, CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime))
INSERT [dbo].[UtilitiesItem] ([Id], [SectionId], [Name], [Coefficient], [InsDate], [UpsDate]) VALUES (N'2ec103aa-aa83-4d58-9e85-22a6247f4cd6', N'dc3e0910-dae6-4faa-abfd-6e79d2a0a9aa', N'Sàn từ 30m2 ~ 40m2', 0.05, CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime))
GO
INSERT [dbo].[UtilitiesSection] ([Id], [UltilitiesId], [Name], [Status], [InsDate], [UpsDate], [Description]) VALUES (N'8d94e702-1a40-4316-815c-1668ab01d7d6', N'002e459a-e010-493f-8585-d729d3cf357b', N'Chi phí thi công trình hẻm nhỏ', N'Active', CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime), NULL)
INSERT [dbo].[UtilitiesSection] ([Id], [UltilitiesId], [Name], [Status], [InsDate], [UpsDate], [Description]) VALUES (N'dc3e0910-dae6-4faa-abfd-6e79d2a0a9aa', N'002e459a-e010-493f-8585-d729d3cf357b', N'Chi phí thi công sàn nhỏ hơn 70m2', N'Active', CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime), N'Với diện tích sàn < 70m2, vẫn phải tốn chi phí tương đương cho thao tác thi công, thời gian thi công...Vì vậy, đây là hạng mục được đưa vào chi phí bất lợi do điều kiện thi công')
INSERT [dbo].[UtilitiesSection] ([Id], [UltilitiesId], [Name], [Status], [InsDate], [UpsDate], [Description]) VALUES (N'787cb231-0ed3-443d-b1da-ab05567284bb', N'002e459a-e010-493f-8585-d729d3cf357b', N'Hỗ trợ bãi tập kết, điều kiện thi công khó khăn', N'Active', CAST(N'2024-09-28T14:45:30.123' AS DateTime), CAST(N'2024-09-28T14:45:30.123' AS DateTime), NULL)
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[AssignTask]  WITH CHECK ADD  CONSTRAINT [FK_AssignTask_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[AssignTask] CHECK CONSTRAINT [FK_AssignTask_Account]
GO
ALTER TABLE [dbo].[BactchPayment]  WITH CHECK ADD  CONSTRAINT [FK_BactchPayment_Contract] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contract] ([Id])
GO
ALTER TABLE [dbo].[BactchPayment] CHECK CONSTRAINT [FK_BactchPayment_Contract]
GO
ALTER TABLE [dbo].[BactchPayment]  WITH CHECK ADD  CONSTRAINT [FK_BactchPayment_FinalQuotation] FOREIGN KEY([FinalQuotationId])
REFERENCES [dbo].[FinalQuotation] ([Id])
GO
ALTER TABLE [dbo].[BactchPayment] CHECK CONSTRAINT [FK_BactchPayment_FinalQuotation]
GO
ALTER TABLE [dbo].[BactchPayment]  WITH CHECK ADD  CONSTRAINT [FK_BactchPayment_InitialQuotation] FOREIGN KEY([IntitialQuotationId])
REFERENCES [dbo].[InitialQuotation] ([Id])
GO
ALTER TABLE [dbo].[BactchPayment] CHECK CONSTRAINT [FK_BactchPayment_InitialQuotation]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Account]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Project]
GO
ALTER TABLE [dbo].[EquimentItem]  WITH CHECK ADD  CONSTRAINT [FK_EquimentItem_FinalQuotation] FOREIGN KEY([FinalQuotationId])
REFERENCES [dbo].[FinalQuotation] ([Id])
GO
ALTER TABLE [dbo].[EquimentItem] CHECK CONSTRAINT [FK_EquimentItem_FinalQuotation]
GO
ALTER TABLE [dbo].[FinalQuotation]  WITH CHECK ADD  CONSTRAINT [FK_FinalQuotation_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[FinalQuotation] CHECK CONSTRAINT [FK_FinalQuotation_Account]
GO
ALTER TABLE [dbo].[FinalQuotation]  WITH CHECK ADD  CONSTRAINT [FK_FinalQuotation_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[FinalQuotation] CHECK CONSTRAINT [FK_FinalQuotation_Project]
GO
ALTER TABLE [dbo].[FinalQuotation]  WITH CHECK ADD  CONSTRAINT [FK_FinalQuotation_Promotion] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotion] ([Id])
GO
ALTER TABLE [dbo].[FinalQuotation] CHECK CONSTRAINT [FK_FinalQuotation_Promotion]
GO
ALTER TABLE [dbo].[FinalQuotation]  WITH CHECK ADD  CONSTRAINT [FK_FinalQuotation_QuotationUtilities] FOREIGN KEY([QuotationUtilitiesId])
REFERENCES [dbo].[QuotationUtilities] ([Id])
GO
ALTER TABLE [dbo].[FinalQuotation] CHECK CONSTRAINT [FK_FinalQuotation_QuotationUtilities]
GO
ALTER TABLE [dbo].[HouseDesignDrawing]  WITH CHECK ADD  CONSTRAINT [FK_HouseDesignDrawing_AssignTask] FOREIGN KEY([AssignTaskId])
REFERENCES [dbo].[AssignTask] ([Id])
GO
ALTER TABLE [dbo].[HouseDesignDrawing] CHECK CONSTRAINT [FK_HouseDesignDrawing_AssignTask]
GO
ALTER TABLE [dbo].[HouseDesignDrawing]  WITH CHECK ADD  CONSTRAINT [FK_HouseDesignDrawing_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[HouseDesignDrawing] CHECK CONSTRAINT [FK_HouseDesignDrawing_Project]
GO
ALTER TABLE [dbo].[HouseDesignVersion]  WITH CHECK ADD  CONSTRAINT [FK_HouseDesignVersion_HouseDesignDrawing] FOREIGN KEY([HouseDesignDrawingId])
REFERENCES [dbo].[HouseDesignDrawing] ([Id])
GO
ALTER TABLE [dbo].[HouseDesignVersion] CHECK CONSTRAINT [FK_HouseDesignVersion_HouseDesignDrawing]
GO
ALTER TABLE [dbo].[InitialQuotation]  WITH CHECK ADD  CONSTRAINT [FK_InitialQuotation_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[InitialQuotation] CHECK CONSTRAINT [FK_InitialQuotation_Account]
GO
ALTER TABLE [dbo].[InitialQuotation]  WITH CHECK ADD  CONSTRAINT [FK_InitialQuotation_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[InitialQuotation] CHECK CONSTRAINT [FK_InitialQuotation_Project]
GO
ALTER TABLE [dbo].[InitialQuotation]  WITH CHECK ADD  CONSTRAINT [FK_InitialQuotation_Promotion] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotion] ([Id])
GO
ALTER TABLE [dbo].[InitialQuotation] CHECK CONSTRAINT [FK_InitialQuotation_Promotion]
GO
ALTER TABLE [dbo].[InitialQuotationItem]  WITH CHECK ADD  CONSTRAINT [FK_InitialQuotationItem_ConstructionItems] FOREIGN KEY([ConstructionItemId])
REFERENCES [dbo].[ConstructionItems] ([Id])
GO
ALTER TABLE [dbo].[InitialQuotationItem] CHECK CONSTRAINT [FK_InitialQuotationItem_ConstructionItems]
GO
ALTER TABLE [dbo].[InitialQuotationItem]  WITH CHECK ADD  CONSTRAINT [FK_InitialQuotationItem_InitialQuotation] FOREIGN KEY([InitialQuotationId])
REFERENCES [dbo].[InitialQuotation] ([Id])
GO
ALTER TABLE [dbo].[InitialQuotationItem] CHECK CONSTRAINT [FK_InitialQuotationItem_InitialQuotation]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MaterialType] FOREIGN KEY([MaterialTypeId])
REFERENCES [dbo].[MaterialType] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MaterialType]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Supplier]
GO
ALTER TABLE [dbo].[MaterialSection]  WITH CHECK ADD  CONSTRAINT [FK_MaterialSection_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[MaterialSection] CHECK CONSTRAINT [FK_MaterialSection_Material]
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [FK_Media_HouseDesignDrawing] FOREIGN KEY([HouseDesignDrawingId])
REFERENCES [dbo].[HouseDesignDrawing] ([Id])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK_Media_HouseDesignDrawing]
GO
ALTER TABLE [dbo].[Package]  WITH CHECK ADD  CONSTRAINT [FK_Package_PackageType] FOREIGN KEY([PackageTypeId])
REFERENCES [dbo].[PackageType] ([Id])
GO
ALTER TABLE [dbo].[Package] CHECK CONSTRAINT [FK_Package_PackageType]
GO
ALTER TABLE [dbo].[PackageDetail]  WITH CHECK ADD  CONSTRAINT [FK_PackageDetail_Package] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([Id])
GO
ALTER TABLE [dbo].[PackageDetail] CHECK CONSTRAINT [FK_PackageDetail_Package]
GO
ALTER TABLE [dbo].[PackageHouse]  WITH CHECK ADD  CONSTRAINT [FK_PackageHouse_DesignTemplate] FOREIGN KEY([DesignTemplateId])
REFERENCES [dbo].[DesignTemplate] ([Id])
GO
ALTER TABLE [dbo].[PackageHouse] CHECK CONSTRAINT [FK_PackageHouse_DesignTemplate]
GO
ALTER TABLE [dbo].[PackageHouse]  WITH CHECK ADD  CONSTRAINT [FK_PackageHouse_Package] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([Id])
GO
ALTER TABLE [dbo].[PackageHouse] CHECK CONSTRAINT [FK_PackageHouse_Package]
GO
ALTER TABLE [dbo].[PackageLabor]  WITH CHECK ADD  CONSTRAINT [FK_PackageLabor_Labor] FOREIGN KEY([LaborId])
REFERENCES [dbo].[Labor] ([Id])
GO
ALTER TABLE [dbo].[PackageLabor] CHECK CONSTRAINT [FK_PackageLabor_Labor]
GO
ALTER TABLE [dbo].[PackageLabor]  WITH CHECK ADD  CONSTRAINT [FK_PackageLabor_PackageDetail] FOREIGN KEY([PackageDetailId])
REFERENCES [dbo].[PackageDetail] ([Id])
GO
ALTER TABLE [dbo].[PackageLabor] CHECK CONSTRAINT [FK_PackageLabor_PackageDetail]
GO
ALTER TABLE [dbo].[PackageMaterial]  WITH CHECK ADD  CONSTRAINT [FK_PackageMaterial_MaterialSection] FOREIGN KEY([MaterialSectionId])
REFERENCES [dbo].[MaterialSection] ([Id])
GO
ALTER TABLE [dbo].[PackageMaterial] CHECK CONSTRAINT [FK_PackageMaterial_MaterialSection]
GO
ALTER TABLE [dbo].[PackageMaterial]  WITH CHECK ADD  CONSTRAINT [FK_PackageMaterial_PackageMaterial] FOREIGN KEY([PackageDetailId])
REFERENCES [dbo].[PackageDetail] ([Id])
GO
ALTER TABLE [dbo].[PackageMaterial] CHECK CONSTRAINT [FK_PackageMaterial_PackageMaterial]
GO
ALTER TABLE [dbo].[PackageQuotation]  WITH CHECK ADD  CONSTRAINT [FK_PackageQuotation_InitialQuotation] FOREIGN KEY([InitialQuotationId])
REFERENCES [dbo].[InitialQuotation] ([Id])
GO
ALTER TABLE [dbo].[PackageQuotation] CHECK CONSTRAINT [FK_PackageQuotation_InitialQuotation]
GO
ALTER TABLE [dbo].[PackageQuotation]  WITH CHECK ADD  CONSTRAINT [FK_PackageQuotation_Package] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([Id])
GO
ALTER TABLE [dbo].[PackageQuotation] CHECK CONSTRAINT [FK_PackageQuotation_Package]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_BactchPayment] FOREIGN KEY([BatchPaymentId])
REFERENCES [dbo].[BactchPayment] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_BactchPayment]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentType] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentType] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentType]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Customer]
GO
ALTER TABLE [dbo].[QuotationItem]  WITH CHECK ADD  CONSTRAINT [FK_QuotationItem_QuotationSection] FOREIGN KEY([QuotationSectionId])
REFERENCES [dbo].[QuotationSection] ([Id])
GO
ALTER TABLE [dbo].[QuotationItem] CHECK CONSTRAINT [FK_QuotationItem_QuotationSection]
GO
ALTER TABLE [dbo].[QuotationLabor]  WITH CHECK ADD  CONSTRAINT [FK_QuotationLabor_Labor] FOREIGN KEY([LaborId])
REFERENCES [dbo].[Labor] ([Id])
GO
ALTER TABLE [dbo].[QuotationLabor] CHECK CONSTRAINT [FK_QuotationLabor_Labor]
GO
ALTER TABLE [dbo].[QuotationLabor]  WITH CHECK ADD  CONSTRAINT [FK_QuotationLabor_QuotationItem] FOREIGN KEY([QuotationItemId])
REFERENCES [dbo].[QuotationItem] ([Id])
GO
ALTER TABLE [dbo].[QuotationLabor] CHECK CONSTRAINT [FK_QuotationLabor_QuotationItem]
GO
ALTER TABLE [dbo].[QuotationMaterial]  WITH CHECK ADD  CONSTRAINT [FK_QuotationMaterial_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[QuotationMaterial] CHECK CONSTRAINT [FK_QuotationMaterial_Material]
GO
ALTER TABLE [dbo].[QuotationMaterial]  WITH CHECK ADD  CONSTRAINT [FK_QuotationMaterial_QuotationItem] FOREIGN KEY([QuotationItemId])
REFERENCES [dbo].[QuotationItem] ([Id])
GO
ALTER TABLE [dbo].[QuotationMaterial] CHECK CONSTRAINT [FK_QuotationMaterial_QuotationItem]
GO
ALTER TABLE [dbo].[QuotationSection]  WITH CHECK ADD  CONSTRAINT [FK_QuotationSection_Package] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([Id])
GO
ALTER TABLE [dbo].[QuotationSection] CHECK CONSTRAINT [FK_QuotationSection_Package]
GO
ALTER TABLE [dbo].[QuotationUtilities]  WITH CHECK ADD  CONSTRAINT [FK_QuoationUltities_UltilitiesItem] FOREIGN KEY([UltilitiesItemId])
REFERENCES [dbo].[UtilitiesItem] ([Id])
GO
ALTER TABLE [dbo].[QuotationUtilities] CHECK CONSTRAINT [FK_QuoationUltities_UltilitiesItem]
GO
ALTER TABLE [dbo].[QuotationUtilities]  WITH CHECK ADD  CONSTRAINT [FK_QuotationUtilities_InitialQuotation] FOREIGN KEY([InitialQuotationId])
REFERENCES [dbo].[InitialQuotation] ([Id])
GO
ALTER TABLE [dbo].[QuotationUtilities] CHECK CONSTRAINT [FK_QuotationUtilities_InitialQuotation]
GO
ALTER TABLE [dbo].[SubConstructionItems]  WITH CHECK ADD  CONSTRAINT [FK_SubConstructionItems_ConstructionItems] FOREIGN KEY([ConstructionItemsId])
REFERENCES [dbo].[ConstructionItems] ([Id])
GO
ALTER TABLE [dbo].[SubConstructionItems] CHECK CONSTRAINT [FK_SubConstructionItems_ConstructionItems]
GO
ALTER TABLE [dbo].[SubTemplate]  WITH CHECK ADD  CONSTRAINT [FK_SubTemplate_DesignTemplate] FOREIGN KEY([DesignTemplateId])
REFERENCES [dbo].[DesignTemplate] ([Id])
GO
ALTER TABLE [dbo].[SubTemplate] CHECK CONSTRAINT [FK_SubTemplate_DesignTemplate]
GO
ALTER TABLE [dbo].[TemplateItem]  WITH CHECK ADD  CONSTRAINT [FK_TemplateItem_ConstructionItems] FOREIGN KEY([ConstructionItemId])
REFERENCES [dbo].[ConstructionItems] ([Id])
GO
ALTER TABLE [dbo].[TemplateItem] CHECK CONSTRAINT [FK_TemplateItem_ConstructionItems]
GO
ALTER TABLE [dbo].[TemplateItem]  WITH CHECK ADD  CONSTRAINT [FK_TemplateItem_SubTemplate] FOREIGN KEY([SubTemplateId])
REFERENCES [dbo].[SubTemplate] ([Id])
GO
ALTER TABLE [dbo].[TemplateItem] CHECK CONSTRAINT [FK_TemplateItem_SubTemplate]
GO
ALTER TABLE [dbo].[TemplateItem]  WITH CHECK ADD  CONSTRAINT [TemplateItem_SubConstructionItems_FK] FOREIGN KEY([SubConstructionId])
REFERENCES [dbo].[SubConstructionItems] ([Id])
GO
ALTER TABLE [dbo].[TemplateItem] CHECK CONSTRAINT [TemplateItem_SubConstructionItems_FK]
GO
ALTER TABLE [dbo].[UtilitiesItem]  WITH CHECK ADD  CONSTRAINT [FK_UltilitiesItem_UltilitiesSection] FOREIGN KEY([SectionId])
REFERENCES [dbo].[UtilitiesSection] ([Id])
GO
ALTER TABLE [dbo].[UtilitiesItem] CHECK CONSTRAINT [FK_UltilitiesItem_UltilitiesSection]
GO
ALTER TABLE [dbo].[UtilitiesSection]  WITH CHECK ADD  CONSTRAINT [FK_UltilitiesSection_Ultilities] FOREIGN KEY([UltilitiesId])
REFERENCES [dbo].[Utilities] ([Id])
GO
ALTER TABLE [dbo].[UtilitiesSection] CHECK CONSTRAINT [FK_UltilitiesSection_Ultilities]
GO
USE [master]
GO
